@mixin scroll-bar($mt) {
    $foreground-color : #F5F5F5;
    $background-color : #333333;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        background-color: #dddddd;

        &:vertical {
            margin-top: $mt;
        }
    }

    &::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
        &:horizontal{
            height: 12px;
        }
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #333333;

        background-image: url('../../images/scrollbar-thumb.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        background-image: url('../../images/scrollbar-thumb-horizontal.png');
    }
}

.table-resizable {
    table {
        background-color: #ebebeb;

        thead {
            tr {
                background-color: #d4d4d4;

                th:hover {
                    background-color: #d9d9d9;
                }
            }
        }
    }

    overflow-x: auto;
    margin: 0px 10px;

    td:nth-child(2) {
        text-align: center;
        border-left: 1px solid #d2d2d2;
        border-right: 1px solid #d2d2d2;
    }

    td {
        font-size: 12px;
        color: #4e4b4b;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid #cecbcb;
        padding: 5px 10px;
        overflow: hidden;
        white-space: pre;
        position: relative;
        max-width: 0;
        position: inherit;
    }

    th:hover,
    td:hover {
        cursor: default;
    }
}

.table-datagrid-header {
    overflow: hidden;
    border-right: 1px solid #aaaaaa;

    table {
        background-color: #ebebeb;

        thead {
            tr {
                background-color: #d4d4d4;

                th:hover {
                    background-color: #d9d9d9;
                    background-clip: padding-box;
                }
            }
        }
    }

    .table-resizable {
        th {
            color: #757171;
            font-weight: bold;
            font-size: 12.5px;
            padding: 5px 10px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            -moz-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            min-width: 20px;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: relative;
            border: .5px solid #aaa !important;
            box-shadow: none !important;
            font-size: 12px !important;
            text-shadow: 0 1px 0 #fff;
        }

        th:hover,
        td:hover {
            cursor: default;
        }

        margin-top: 0;
        z-index: 5;

        th {
            white-space: nowrap;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: relative;

            .th-resizing {
                top: 0;
                left: -5px;
                width: 10px;
                height: 21px;
                position: absolute;
                cursor: col-resize;
                -webkit-user-select: none;
                user-select: none;
            }


            >.fa {
                right: 8px;
                position: absolute;
                top: 8px;
                ;
            }
        }
    }

}


.table-resizable .table-resizable td:first-child,
th:first-child {
    border-left: none;
}

.table-member-dg {
    @media (max-height: 350px) {
        height: 70px
    }
}

.table-datagrid {
    position: relative;
    overflow: auto;

    // @include scroll-bar(0);

    .table-datagrid-header {
        position: fixed;
        margin-top: 0;
        z-index: 5;
        overflow: hidden;

        table {

            thead tr {
                background-color: #d4d4d4;

                th {
                    &.sorting {
                        background-color: #bababa;
                    }
                }
            }
        }

        th {
            white-space: nowrap;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: relative;

            .th-resizing {
                top: 0;
                left: -5px;
                width: 10px;
                height: 21px;
                position: absolute;
                cursor: col-resize;
                -webkit-user-select: none;
                user-select: none;
            }

            >.fa {
                right: 8px;
                position: absolute;
                top: 8px;
                ;
            }
        }
    }

    tbody td {
        background-color: #ebebeb;
        white-space: pre;
    }
}

.scroll-y-none {
    overflow-y: hidden;
    // &::-webkit-scrollbar { display: none; } /* Hide scrollbar for Chrome, Safari and Opera */
    // -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.scroll-x-none {
    overflow-x: hidden;

    // &::-webkit-scrollbar { /* Hide scrollbar for Chrome, Safari and Opera */
    //     // display: none;
    //     // border: 1px solid red;
    // } 
    // -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    // scrollbar-width: none;
}


.no-margin {
    margin: 0;
}

.fix-padding-map-list {
    padding: 25px;
    position: relative;
}

.account-status-table-content {
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-bottom: 25px !important;
}

#personal-tabs3 {
    display: block;
    clear: both;
    position: relative;

    .personal-tabs-item {
        position: relative;
        top: 0;
        display: block;


        .table-datagrid {
            // top: 25px;
            // margin-top: 25px;
            // display: inline-block;
        }
    }
}

.table-resizable td.td-p-17 {
    padding: 17px;
}

body {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}