body{
  font-family: "Times New Roman" !important;
  margin: 8px;
}
a {
  color: -webkit-link !important;
  text-decoration: underline !important;
}
p{
  margin-top: 0;
  font-weight: normal;
}
.mb-0{
  margin-bottom: 0;
}
.mt-8px{
  margin-top: 8px;
}
.mb-12px{
  margin-bottom: 12px;
}
.mb-15px{
  margin-bottom: 15px;
}
.mb-18px{
  margin-bottom: 18px;
}
.mb-19px{
  margin-bottom: 19px;
}
.mb-49px{
  margin-bottom: 49px;
}
.fs-14px{
  font-size: 14px;
}
.fs-15px{
  font-size: 15px;
}
.line-height-1{
  line-height: 1;
}