body{
  margin: 8px;
  color: #000;
  font-family: "Times New Roman" !important;
}

a {
  color: -webkit-link !important;
  text-decoration: underline !important;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}