.radio-facilitator .checkmark, .checkbox-facilitator .checkmark{
    bottom: -10px;
    left: 39%;
}
.progress-ac-child{
    top: 12%;
}
:-ms-input-placeholder.form-control{
    color: rgba(179, 179, 179, 1);
}
.radio-add-member input {
    top: 0;
}
.radio-add-member .checkmark,
.radio-add-member input:checked ~ .checkmark {
    top: 0;
}