.cursor-image {
    position: absolute;
    -webkit-animation: pulse 2s infinite; /* Chrome, Safari, Opera */
    animation: pulse 2s infinite;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.cursor-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
    cursor: none;
}