.main {
  padding-top: 0;
}
div.mxRubberband {
  position: absolute;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: #00a2ff;
  background: #0077ff;
}
.mxCellEditor {
  background: url(data:image/gif;base64,R0lGODlhMAAwAIAAAP///wAAACH5BAEAAAAALAAAAAAwADAAAAIxhI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8egpAAA7);
  border-color: transparent;
  border-style: solid;
  display: inline-block;
  position: absolute;
  overflow: visible;
  word-wrap: normal;
  border-width: 0;
  min-width: 5px;
  resize: none;
  padding: 0px;
  margin: 0px;
}
.mxPlainTextEditor * {
  padding: 0px;
  margin: 0px;
}
div.mxWindow {
  -webkit-box-shadow: 3px 3px 12px #c0c0c0;
  -moz-box-shadow: 3px 3px 12px #c0c0c0;
  box-shadow: 3px 3px 12px #c0c0c0;
  border: 1px solid #c3c3c3;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
table.mxWindow {
  border-collapse: collapse;
  table-layout: fixed;
  font-family: Arial;
  font-size: 8pt;
}
td.mxWindowTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  height: 13px;
  padding: 2px;
  padding-top: 4px;
  padding-bottom: 6px;
  color: black;
}
td.mxWindowPane {
  vertical-align: top;
  padding: 0px;
}
div.mxWindowPane {
  overflow: hidden;
  position: relative;
}
td.mxWindowPane td {
  font-family: Arial;
  font-size: 8pt;
}
td.mxWindowPane input,
td.mxWindowPane select,
td.mxWindowPane textarea,
td.mxWindowPane radio {
  border-color: #8c8c8c;
  border-style: solid;
  border-width: 1px;
  font-family: Arial;
  font-size: 8pt;
  padding: 1px;
}
td.mxWindowPane button {
  font-family: Arial;
  font-size: 8pt;
  padding: 2px;
  float: left;
}
img.mxToolbarItem {
  margin-right: 6px;
  margin-bottom: 6px;
  border-width: 1px;
}
select.mxToolbarCombo {
  vertical-align: top;
  border-style: inset;
  border-width: 2px;
}
div.mxToolbarComboContainer {
  padding: 2px;
}
img.mxToolbarMode {
  margin: 2px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 0px;
}
img.mxToolbarModeSelected {
  margin: 0px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-width: 2px;
  border-style: inset;
}
div.mxTooltip {
  -webkit-box-shadow: 3px 3px 12px #c0c0c0;
  -moz-box-shadow: 3px 3px 12px #c0c0c0;
  box-shadow: 3px 3px 12px #c0c0c0;
  background: #ffffcc;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  font-family: Arial;
  font-size: 8pt;
  position: absolute;
  cursor: default;
  padding: 4px;
  color: black;
}
div.mxPopupMenu {
  -webkit-box-shadow: 3px 3px 12px #c0c0c0;
  -moz-box-shadow: 3px 3px 12px #c0c0c0;
  box-shadow: 3px 3px 12px #c0c0c0;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
table.mxPopupMenu {
  border-collapse: collapse;
  margin-top: 1px;
  margin-bottom: 1px;
}
tr.mxPopupMenuItem {
  color: black;
  cursor: pointer;
}
tr.mxPopupMenuItemHover {
  background-color: #000066;
  color: #ffffff;
  cursor: pointer;
}
td.mxPopupMenuItem {
  padding: 2px 30px 2px 10px;
  white-space: nowrap;
  font-family: Arial;
  font-size: 8pt;
}
td.mxPopupMenuIcon {
  background-color: #d0d0d0;
  padding: 2px 4px 2px 4px;
}
.mxDisabled {
  opacity: 0.2 !important;
  cursor: default !important;
}


.pos-abs {
  position: absolute;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.dropdown-hover {
  &:hover {
    box-shadow: 0px 0px 2px 0px #272727;
    background-image: linear-gradient(#5d5d5d, #5c5c5c 70%, #616161) !important;
    border-color: #949494 !important;
  }
}

.results-pagi-prev {
  display: block;
  width: 28px;
  height: 28px;
  background: url(../../../wlp-client-common/images/icon/results-prev.jpg) no-repeat; }
.results-pagi-prev.active {
  background: url(../../../wlp-client-common/images/icon/results-prev-active.jpg) no-repeat; }
.results-pagi-prev.active:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70); }
  
.results-pagi-next {
  display: block;
  width: 28px;
  height: 28px;
  background: url(../../../wlp-client-common/images/icon/results-next.jpg) no-repeat; }
.results-pagi-next.active {
  background: url(../../../wlp-client-common/images/icon/results-next-active.jpg) no-repeat; }
.results-pagi-next.active:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70); }
  
.header-logo {
  padding: 6px 34px 0 14px;
}

.tabs-scrollbar {
  transition: none;
}
::selection {
  background-color: #accfcc;
}
#loading {
  position:fixed;
  width:100%;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(255,255,255,0.7);
  z-index:9999;
}
#loading .loader {
    position: relative;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    top: 400px;
    left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal-gr .modal-header {
  display: flex;
  align-items: center;
}

.list-radio-bg .image-radio .custom-control-label {
    cursor: pointer;
}
.tab-sheet-bg3 .tab-box{
  background: url(../../../wlp-client-common/images/bg/tab02_selected.png) no-repeat !important;
}

.btn-share {
    min-width: 98px;
    width: auto;
}

.form-control-shadow.form-control-valid {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #8abdb9;
    background: #e6f1f0 !important;
    &:focus{
      -webkit-box-shadow: 0 0 0 0.4rem rgba(147, 182, 175, 0.25), inset 0 0 1px 0.05rem rgba(8, 8, 8, 0.13);
    box-shadow: 0 0 0 0.4rem rgba(147, 182, 175, 0.25), inset 0 0 1px 0.05rem rgba(8, 8, 8, 0.13);
    border-color: #93b6af;
    background-color:#f8f8f8 !important;
    }
}.modal .image-modal {
  background-color: transparent;
  box-shadow: none;
  position: relative;
  .image-modal-close {
    position: absolute;
    right: -10px;
    top: -10px;
    &:hover {
      opacity: 0.8;
    }
  }
  .modal-header {
    background: transparent !important;
    .close {
      display: none;
    }
  }
  .modal-body {
    padding: 0;
    .card{
      padding: 0;
      border: none !important;
    }
    .modal-gr-btn{
      margin: 0;
    }
  }
}
.results-item .media-body-item-r{
  max-width: 100px;
    flex: 0 0 100px;
    width: 100%;
    margin-left: 5%;
    flex-grow: 1;
    text-align: right;
}
.results-list-full .results-item .media-body-item-r {
    max-width: 160px;
    flex: 0 0 160px;
    width: 100%;
    margin-left: 10%;
    flex-grow: 1;
}div.hightlight-download {
  opacity: 0.7;
}
div.hightlight-download:hover {
  opacity: 0.4;
}


.minw-100px {
  width: unset !important;
  min-width: 100px !important;
}

.results-all-modal {
  .show {
    z-index: 1000;
  }
}
.editor-header-right-btn:focus {
    box-shadow: inherit;
}

.btn.btn-modal-dropdown img {
    min-width: 8px;
}
.container-graph a {
  color: #8bc2bd;
}
.baseItemLink {
  cursor: default;
}
.baseItemLink:hover {
  text-decoration: none;
}
.zindex-1 {
  z-index: 1 !important;
}
.hidden-scrollbar {
  overflow: auto;
}

.hidden-scrollbar::-webkit-scrollbar { width: 0 !important } //Chrome, Safari, newer versions of Opera
.hidden-scrollbar { scrollbar-width: none; } //Firefox
.hidden-scrollbar { -ms-overflow-style: none; } //Internet Explorer +10

.color-inherit *{
  color: inherit !important;
  background-color: inherit !important;
}

.h-18px {
    height: 18px;
}

.h-22px {
  height: 22px;
}

.noselect::selection {
  background-color: transparent !important;
}

#protect-rendering {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: transparent;
}