
.vertex-control .context-control .vertex-actions .context-action {
    &.control-item-style {
        // margin-bottom: 10px;

        img {
            padding: 2px;
        }

        &:hover {
            // border-color: #ffffff;
            background-color: white;
        }
    }
}

.menu-styles {
    white-space:initial;

    .option-style {
        display: inline-block;
    }
}

.vertext-context[data-scale="1"] {
  .control-item {
      width: 25px;
      height: 18px;
  }

  .menu-styles { width: 70px; }
  .option-style { height: 25px; }
}

.vertext-context[data-scale="2.5"] {
    .menu-styles { width: 178px; }
}

.vertex-control .context-space {
    margin-right: 3px;
    margin-left: 3px;
}
.vertex-control .context-control.disabled {
    pointer-events: none;
}
.vertex-control .item-menu-img {
    vertical-align: top;
}
.vertex-control .option-text li {
    display: inline-block;
}

#groupMenuItem {
    position: absolute;
    background: tranparent;
    border-radius: 4px;
}

#itemMenuControl,
#itemLineMenuControl {
    .context-control .menu-control-action {
        list-style: none;
        margin-left: 0;
        position: absolute;
        background-color: #424242;
        border-radius: 5px;
        display: none;
    }
    
    .context-control.actived .menu-control-action {
        display: block;
    }
}

#itemLineMenuControl {
    box-shadow: 0px 0px 2px 0px black;
    
    .context-control {
        margin-right: 1px;
    }

    .menu-control-action {
        box-shadow: 0px 0px 2px 0px black;
        padding-top: 2px;
    }

    .context-menu-style3 {
        left: -68px;
    }
}

.control-item {
    vertical-align: top;
}
.context-group {
    padding: 5px 2px;
    align-items: center;
}

.context-control {
    position: relative;
    width: 21px;
    height: 21px;
    background: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 1px 0 1px 2.5px;
    &.open-shape-menu {
        margin-left: 0;
    }

    &.open-property-menu,
    &.open-text-menu {
        margin-right: 5px;
    }

    &.open-property-menu {
        margin-left: 5px;
    }

    &:focus .context-tooltip{
        background-color: rgb(122, 122, 122);
    }

    .context-tooltip-able[aria-label]:hover:after {
        content: attr(aria-label);
        display: table;
        padding: 8px 8px;
        position: absolute;
        left: 20px;
        top: 170%;
        white-space: nowrap;
        z-index: 20px;
        background: #ed3a20;
        color: #fff;
        font-size: 10px;
        border-radius: 4px;
        box-shadow: 0 4px 2px -2px gray;
        border-bottom: 1px solid #8e2213;
        white-space: pre;
        width: fit-content;
        z-index: 1;
    }

    .item-menu-img, .control-item{
        width: 100%;
        display: block;
        cursor: default;
    }
    
    .context-tooltip{
        width: inherit;
        height: inherit;
        padding:2px;
        border-radius: 3px;
        margin: 0 1px;
        &:hover{
            background-color: #7a7a7a;  
        }
    }

    .menu-control-action::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #424242 transparent;
    }
 
    * {
        cursor: default;
    }
}

.context-control.disabled {
    .disabled-cover {
        width: 115%;
        height: 115%;
        z-index: 1000;
        position: absolute;
        display: block;
    }

    opacity: 0.3;
}
.context-control.actived {
    .context-tooltip{
        background-color: rgb(122, 122, 122);
    }
}

.split-line{
    width: 2px;
    background-color: #7a7a7a;

}
.mx-2px{
    margin-left: 2px;
    margin-right: 2px;
}
.item-fix-line-height{
    .context-control{
        line-height: normal;
    }
}

.context-menu-style1 {
    padding: 5px;
    top: 100%;
    margin-top: 9px;
    left: -7.5px;

    .context-action{
        width: 28px;
        height: 20px;
        padding:4px 5px;
        margin-top: 3px;

        &.actived, &:hover{
            background-color: rgb(122, 122, 122);
            border-radius: 3px;
        }
    }
}

.context-menu-style3 {
    .context-action{
        &:hover, &.actived{
            background-color: rgb(122, 122, 122);
        }
    }
}

.context-menu-style2{
    padding: 1px;
    top: 100%;
    margin-top: 9px;
    left: -23.5px;

    .context-item-container {
        width: 68px;
        padding: 2px 1px;
        display: flex;
        flex-wrap: wrap;
    }
    .context-action {
        width: 29px;
        margin: 2px 2px;
        height: 21px;
        padding: 0;
        border: 1px solid #6d6d6d;
        border-radius: 1px;
        &.actived{
            box-shadow: 0 0 0 2.5px #ffffff;
        }
        &:hover{
            box-shadow: 0 0 0 3px #ffffff;
        }
    }
}

.context-menu-style2.base-item-style {
    left: -6.5px;
    .context-item-container{
        width: auto;
        padding: 2px 1px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
.context-menu-style3 {
    padding: 1px;
    top: 100%;
    margin-top: 9px;
    left: -67.5px;
    .context-item-container {
        display: flex;
        padding: 5px;
    }
}

.btn-group-ed{
    .context-action {
        width: 29px;
        height: 21px;
        margin: 0;
        border-color: #656565;
        padding: 3px 5px;
        &:hover{
            background-color: #b5b5b5;
        }
    }
}

.context-menu-style3.base-item-style {
    left: -114px;
}

.context-menu-style4{
    padding: 1px;
    top: 100%;
    margin-top: 9px;
    left: -23px;

    .context-item-container {
        width: 68px;
        padding: 2px 1px;
        display: flex;
        flex-wrap: wrap;
    }

    .context-action {
        width: 29px;
        margin: 2px 2px;
        height: 21px;
        border-radius: 3px;
        padding: 2px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .control-item{
            width: 100%;
        }
        &.actived,&:hover{
            background: #797979;

        }
    }
}

.context-menu-style5 {
    padding: 5px;
    top: 100%;
    margin-top: 9px;
    left: -7px;
    box-shadow: 0 1px 2px 1px grey;

    .context-action{
        width: 28px;
        height: 20px;
        margin-top: 4px;
        border-radius: 1px;

        &.actived{
            box-shadow: 0 0 0 1.7px #e4e4e4;
        }
        &:hover{
            box-shadow: 0 0 0 2.1px #ffffff;
        }
    }
}

.item-properties {
    left: -84px;
    top: 100%;
    margin-top: 9px;
    .col-70px{
        width: 70px;
    }
    .col-128px{
        width: 128px;
    }
    .col-145px{
        width: 145px;
    }
    .border-hr{
        margin: 0;
    }
    .border-bottom-solid-1{
        border-top: 1px solid #797979;
    }
    .border-bottom-dotted-1{
        border-top: 1px dotted #797979;
    }
    .property-container{
        width: 192px;
        background: #3f3f3f;
        padding: 10px 12px;
        color: #fff;
        font-size: 9px;
        border-radius: 5px;
        .form-control-ed{
            &::placeholder{
                color: #727070;
                font-size: 10px;
            }
        }
    }
    .mt-2px{
        margin-top: 2px;
    }
    .mt-12px{
        margin-top: 12px;
    }
    .mb-8px{
        margin-bottom: 8px;
    }
    .mb-10px{
        margin-bottom: 10px;
    }
    .title-property{
        padding-bottom: 8px;
        font-weight: bold;
    }
    .btn-property{
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ffffff;
        color: #ffffff;
        border-radius: 2px;
        cursor: context-menu;
    }
    .btn-property:disabled {
        border: 1px solid #969696 !important;
        color: #969696 !important;
    }

    .control-property.disabled .btn-property{
        pointer-events: none;
        border: 1px solid #969696;
        color: #969696;
    }
    .input-password-label {
        color: #969696;
        height: 15px;
    }
    .form-control-input-password {
        cursor: auto;
    }
    .control-property .input-password-label, .control-property.disabled .form-control-input-password {
        display: none;
    }
    .control-property.disabled .input-password-label, .control-property .form-control-input-password {
        display: block;
    }
    .btn-property:hover { 
        border: 1px solid #dfdfdf;
        color: #dfdfdf;
    }
    .mb-important-11px{
        margin-bottom: 11px !important;
    }   
}