.sticky-label {
    background-color: #a9a9a9;
    border-radius: 5px;
    padding: 2px 3px;

    > span {
        width: 20px;
        margin-left: 3px;
        > strong {
            line-height: 1;
            font-size: 7px;
        }
        > img {
            margin-bottom: 2px;
            margin-left: .5px;
            width: auto; 
            height: 10px
        }
    }
    > div {
        line-height: 13px;
        font-size: 12px;
        color: #353535;

    }
}