@import './functions';

$zoomBtnSize                        : 25px;
$zoomSliderNormalWidth              : 50px;
$zoomSliderOnActivatedWidth         : 250px;
$zoomSliderMarginLeft               : 8px;
$zommContainerNormalMarginLeft      : calc(50% - #{getZoomContainerNormalWidth()/2} );
$zommContainerActivatedMarginLeft   : calc(50% - #{$zoomSliderOnActivatedWidth/2});

