.container-wrapper {
  overflow: visible;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ebebeb;
}
.container-graph {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  overflow: hidden;
}
.toolbar {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 10px;
  margin-left: 120px;
  button {
    font-size: 12px;
    margin-left: 3px;
    margin-right: 3px;
    background: transparent;
    border-color: #302c2c;
    cursor: pointer;

    &:hover {
      transition: 1s all;
      border-color: #8000ff;
    }
  }
}

.sidebar {
  font-size: 12px;
  text-align: center;
  overflow: visible;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 120px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  padding-left: 10px;
  padding-top: 10px;
  li {
    list-style: none;
    margin: 0;
    padding: 3px 5px;
    margin-bottom: 10px;
    width: 80px;

    &.task {
      border: 1px solid #302c2c;
      cursor: pointer;

      &.ellipse {
        border-radius: 50%;
      }
    }
  }
}


.taskWrapper .taskTitle {
  color: #302c2c;
}
.changeInput {
  position: absolute;
  top: 50px;
  left: 150px;
  z-index: 100;
}

.taskTitle {
  display: inline-block;
  margin-bottom: 5px;
}
body div.mxPopupMenu {
  -webkit-box-shadow: 3px 3px 6px #C0C0C0;
  -moz-box-shadow: 3px 3px 6px #C0C0C0;
  box-shadow: 3px 3px 6px #C0C0C0;
  background: white;
  position: absolute;
  border: 3px solid #e7e7e7;
  padding: 3px;
}
body table.mxPopupMenu {
  border-collapse: collapse;
  margin: 0px;
}
body tr.mxPopupMenuItem {
  color: black;
  cursor: default;
}
body td.mxPopupMenuItem {
  padding: 6px 40px 6px 10px;
  font-family: Arial;
  font-size: 10pt;
}
body td.mxPopupMenuIcon {
  background-color: white;
  padding: 0px;
}
body tr.mxPopupMenuItemHover {
  background-color: #eeeeee;
  color: black;
}
table.mxPopupMenu hr {
  border-top: solid 1px #cccccc;
}
table.mxPopupMenu tr {
  font-size: 4pt;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noselect::-moz-selection {
  background-color: transparent !important;
  }

.noselect::selection {
  background-color: transparent !important;
  }

svg text::selection {
  background: none;
}

.member-online {
  color: white;
  padding: 6px 0 0px 6px;
  width: 259px;
  height: 101px;
  border: 1px solid #ccc;
}
.member-online-safari {
  width: 259px !important;
}
.img-default{
  width: 25px;
  height: 25px;
  margin-left: 2px !important;
}
.tooltip-context {
  position: relative;
  display: inline-block;
  cursor: default;
  margin-right: 2px;
  margin-bottom: 6px;
}

.tooltip-context .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 105%;
}

.tooltip-context:hover .tooltiptext {
  visibility: visible;
}

.h-online-39{
  height: 39px;
}
.h-online-70{
  height: 70px;
}
.h-online-101{
  overflow-y: auto;
  height: 101px;
}

.debug-console {
  position: absolute;
  width: 500px;
  height: 500px;
  overflow: auto;
  top: 90px;
  left: 0;
  z-index: 10;
  background-color: #000000a6;
  color: #ffffff;
  line-height: 21px;
  font-size: 13px;
  padding: 10px;
}

@media only screen and (max-width: 992px) {
  .member-online-safari {
    width: 250px !important;
  }
}

.noselect-color-white::selection {
  // background-color: transparent !important;
  color: #fff;
  background: none !important;
}
.noselect-color-white {
  // background-color: transparent !important;
  color: #fff;
  background: none !important;
}

@import './functions';
@import './variables';

@import './common';
@import './navigator.scss';
@import './vertex.scss';
@import './zoomControl.scss';
@import './contextMenu';
@import './shadow';
@import './stickyLabel';