$gray-color: #3c3c3c;
$navigator-bg : url('../images/navi_background.png');

.navi-outline {
  position:absolute;
  bottom:10px;
  left:10px;
  border-bottom: 8px solid $gray-color;
  border-radius: 5px;
  background-color: #cccccc;
  box-shadow: 0px 0px 2px 0px black;
  z-index: 9;

  .navi-container {
    .navi-content {
      border-top: solid 1px gray;
      border-left: solid 1px gray;
    }
  }

  .navigator-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-color;
    width: 100%;
    padding: 0 10px;
    border-radius: 5px 5px 0 0;
    height: 21px;
  
    .navigator-title {
      flex: 0 50%;
      display: flex;
      justify-content: start;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
    }

    .navi-header-controll {
      flex: 0 50%;
      display: flex;
      direction: rtl;
      img {
        margin: 4px;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  .outline-grid-cell {
    background-color: transparent;
    border-bottom: solid 1px gray;
    border-right: solid 1px gray;
    z-index: 0;
    font-size: 30px;
    font-weight: bold;
    opacity: 0.5;
    &:hover {
      opacity: 0.3;
    }
  }

  .navi-content {
    background-color: #ffffff;
    overflow: hidden;
  }
}