.cursor-click {
  cursor: pointer;
}
.vertex-control {
  position: absolute;
  white-space: nowrap;
  background-color: #3f3f3f;
  border-radius: 5px;
  list-style: none;
  padding: 1.4px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
  > li {
    display: inline-block;
  }

  li.context-control {
    padding: 1px;
    position: relative;
    margin-right: 3px;
    margin-left: 3px;
    &:hover {
      background-color: #7a7a7a;
      border-radius: 3px;
    }

    img {
      position: relative;
    }
  }

  li.context-space {
    width: 1.5px;
    height: 100%;
    background-color: #6d6d6d;
    display: inline-block;
  }

  .context-control {
    .vertex-actions { 
      display: none;
      list-style: none;
      margin-left: 0;
      padding: 1px;
      position: absolute;
      background-color: #424242;
    
      border-radius: 5px;
    
      top: 103px;
      left: 11px;
    
      .context-action {
        margin: 3px 0;
    
        &:hover {
          background-color: #7a7a7a;
          border-radius: 3px;
        }
      }
    }
  
    &.activated .vertex-actions { 
      display: block;
    }
  }
  
}

.vertex-close,
.vertex-edit-text{
  cursor: pointer;
}


.vertext-context {
  .edit-username-container, .create-username-container {
    background-color: #a7a7a7;
    border-radius: 8px;
    height: 27px;
    padding: 2.5px 4px ;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 13px;
    }
    span {
      position: relative;
      margin-left: 2px;
    }
  }
}
