$btnZoomOutUp : '../images/button_zoomOut_up.png';
$btnZoomOutOver : '../images/button_zoomOut_over.png';
$btnZoomOutDown : '../images/button_zoomOut_down.png';

$btnZoomInUp : '../images/button_zoomIn_up.png';
$btnZoomInOver : '../images/button_zoomIn_over.png';
$btnZoomInDown : '../images/button_zoomIn_down.png';

$thumbBtn : url("../../../wlp-client-common/images/rangeSlider/thumb-btn.png");
$thumbBtnActivated : url("../../../wlp-client-common/images/rangeSlider/thumb-btn-activated.png");

.zoom-control {
    height: 30px;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    margin-left: $zommContainerNormalMarginLeft;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    .zoom-btn {
        height: $zoomBtnSize;
        width: $zoomBtnSize;
    }

    .zoom-out {
        background-image: url($btnZoomOutUp);

        &:hover {
            background-image: url($btnZoomOutOver);
        }

        &:active {
            background-image: url($btnZoomOutDown);
        }
    }

    .zoom-in {
        background-image: url($btnZoomInUp);

        &:hover {
            background-image: url($btnZoomInOver);
        }

        &:active {
            background-image: url($btnZoomInDown);
        }
    }

    .slider-container {
        width: $zoomSliderNormalWidth;
        height: 5px;
        background: gray;
        position: relative;
        z-index: 1;
        border-radius: 20px;
        background-image: linear-gradient(to bottom, #939393, #a1a1a1, #b0b0b0, #bebebe, #cdcdcd);
        background-size: cover;
    }

    .w-slide-pad {
        position: absolute;
        top: -7px;
        z-index: 99;
        transition-property: none;
        transition-duration: 0.5s;

        button {
            border: 0;
            outline: none;
            padding: 0;
            background-color: transparent;
        }

        &.activated {
            .slide-pad {
                background-image: $thumbBtnActivated;
                background-repeat: no-repeat;
                width: 20px;
                height: 37px;
                margin-top: -8px;
                box-shadow: 0 0 4px #777;
            }
        }

        .slide-pad {
            background-image: $thumbBtn;
            background-repeat: no-repeat;
            height: 19px;
            width: 11px;
            border-radius: 3px;
            box-shadow: 0 0 2px #777;
        }

    }

    .zoom-slider {
        margin: 0px $zoomSliderMarginLeft;
    }
}

/* for firefox */
@-moz-document url-prefix() {
    .zoom-control {
        .w-slide-pad {
            top: -14px;
        }
    }
}