@import './variables';
@import './functions';

:export {
    zoomBtnWidth                    : $zoomBtnSize;
    zoomSliderNormalWidth           : $zoomSliderNormalWidth;
    zoomSliderOnActivatedWidth      : $zoomSliderOnActivatedWidth;
    zoomContainerNormalMarginLeft   : $zommContainerNormalMarginLeft;
    zommContainerActivatedMarginLeft: $zommContainerActivatedMarginLeft;
}