@media not all and (min-resolution:.001dpcm) { 
    .login-form {
        .fa-caret-right{
            margin-top: 0px;
        }
    }
    .w-terms p {
        font-family: Arial, Helvetica, sans-serif;
    }
    .login-form-check {
        line-height: 12px;
        padding-bottom: 4px;
    }
    .text-forgotpassword{
        margin-bottom: 22px;
        margin-top: 6px;
    }
    .invaled-error-ps{
        margin-top: 4px;
    }
}