.loading-w {
    background: url("../images/loadingBackground.png");
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.loading-logo {
    position: relative;
    margin-bottom: 17px;
}

.spinning-background {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 80px;
}

.incon-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.spinning-icon {
    display: block;
    width: 36px;
    height: 36px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.fs-12px {
    font-size: 12px;
}

.loading-ct {
    height: 182px;
}

.fs-20px {
    font-size: 20px !important;
}

.font-din-l {
    font-family: Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.text-white {
    color: #fff !important; }

.loading-number {
    font-weight: bold;
}

.loading-txt {
    text-align:  left;
    margin-left: 82px;
    font-size: 12px !important;
    color: #c4c4c1;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.text-center {
    text-align: center !important; 
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
