.profile-dropdown {
    display: flex;
    align-items: center;
    font-size: 11.6px;
}

.mypage_header-left {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 2px;
}

.img-thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    height: auto;
    width: auto;
    max-width: 22px;
    max-height: 22px;
}

.dropdown-profile > .btn:hover {
    /* height: 27px; */
    cursor: default;
}
.dropdown-profile > .btn:focus {
    background-color: #2f2f2f;
}

.placeholder {
    margin: 0px 3.7px;
}

.mr-2.img-thumbnail {
    margin-right: 0.3rem !important;
}

button.btn.bg-light.btn-skew-l.dropdown-toggle.pr-0.pl-3 {
    display: flex !important;
    justify-content: center !important;
}

.map-rec-menu {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.map-rec-team-name {
    font-size: 12px;
    margin-left: 5px;
}

.mypage-slider-content {
    width: 954px;
    overflow: hidden;
    height: 642px;
}

.carousel-item {
    margin-right: 0;
}

.dropdown-inline-block .ant-dropdown-menu {
    display: inline-block;
    min-width: 116px;
}

.dropdown-inline-block {
    min-width: inherit !important;
}

.modal-group-btn .btn {
    margin-left: 6px;
    margin-right: 6px;
}

.bg-focus-input {
    background-color: #e6f1f0;
    border-color: #ace0db;
    box-shadow: none;
}

.dropdown-toggle::after {
    display: none;
}

.form-check-label .resize-cb-rd {
    width: 19.5px;
    height: 19.5px;
}
/* Hide the browser's default checkbox */
.form-check-guide input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.form-check-guide .checkmark {
    background: url(../../../wlp-client-common/images/checkBox2_bg1.png) no-repeat;
}

/* When the checkbox is checked, add a blue background */
.form-check-guide input:checked ~ .checkmark {
    background: url(../../../wlp-client-common/images/checkBox2_bg2.png) no-repeat;
}
/* Show the checkmark when checked */
.form-check-guide input:checked ~ .checkmark:after {
    display: block;
}

/* Hide the browser's default checkbox */
.form-check-guide-login input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.form-check-guide-login .checkmark {
    background: url(../../../wlp-client-common/images/checkBox2_bg1.png) no-repeat;
}

/* When the checkbox is checked, add a blue background */
.form-check-guide-login input:checked ~ .checkmark {
    background: url(../../../wlp-client-common/images/checkBox2_bg2.png) no-repeat;
}
/* Show the checkmark when checked */
.form-check-guide-login input:checked ~ .checkmark:after {
    display: block;
}
.form-check-guide-login-icon{
    position: absolute;
    left: 0;
    top: -3px;
}
.form-check-guide-icon{
    margin-top: -3px;
}
.form-check-guide-all{
    height: 20px;
    width: 18px;
    background-size: 100% 100% !important;
}
.ml-text-5px{
    margin-left: 5px;
}
.slider-checkct{
    bottom: 72px;
    left: 239px;
}
.slider-checkct .form-check{
    font-size: 12px;
    color: #4e4e4e;
}
.btn-reset {
    border: none;
    background: transparent;
    padding: 0;
}

.btn-reset:focus {
    outline: none;
}

.modal-fit-content {
    max-width: fit-content;
}

.w-160px {
    width: 160px;
}

.w-464px {
    width: 464px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.w-100 {
    width: 100%;
}

.team-color {
    color: #666;
}

.color-box-pos {
    position: absolute;
    top: 50%;
    left: 24px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}

.form-control-shadow {
    box-shadow: none;
    padding: 6px 9px 4px 9px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.alert-mess-success {
    font-weight: 900;
    color: #928a74 !important;
}

.input-empty {
    box-shadow: 0 0 0 4.5px rgba(0, 0, 0, 0.09);
    background: #f5f5f5;
}
.close {
    opacity: 1;
}

.modal-error-logon-ed {
    width: 254px;
}

.modal-error-logon-ed .modal-header {
    padding: 5px;
}

.modal-error-logon-ed .modal-body {
    padding: 8.5px;
}

.modal-error-logon-ed .modal-action-content .modal-body {
    padding: 0;
}

.modal-error-logon-ed button:hover {
    cursor: default;
}

.modal-error-logon-ed .modal-backdrop.show {
    opacity: 0.92;
}
.mypage-footer a {
    margin: 0;
}
.mypage-footer a:hover {
    color: #ccc !important;
    text-decoration: none;
}
.mypage-footer {
    font-size: 11px;
}
/* ==========================================================================
   ******************************Mypage End Personal***********************************
   ========================================================================== */
/* ==========================================================================
   ******************************Css 23 12***********************************
   ========================================================================== */
.start-toggle.active .start-on {
    display: inline-block;
}

.w-listmap-item {
    position: relative;
    border-bottom: 1px solid #8c8c8c;
}

.favitar-icon {
    width: 37px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    border-right: 1px solid #8c8c8c;
}

.listmap-item:hover .hover-dnone {
    display: none;
}

.listmap-item:hover .hover-dblock {
    display: block !important;
}

.listmap-item-active {
    background-image: url(../../../wlp-client-common/images/bg-sidebar.jpg);
    background-repeat: repeat;
}

.listmap-item-ct {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 150px;
    height: 69px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.listmap-item-action {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 7px;
    text-align: right;
    height: 100%;
    width: 230px;
}

.w-listmap-item .group-btn-action {
    top: 0;
    right: 1px;
    position: absolute;
}

.listmap-title,
.listmap-date,
.listmap-time {
    font-size: 16px;
    color: #777777;
    font-weight: 700;
    margin-bottom: 0;
}

.listmap-title{
    font-size: 17px;
    margin-bottom: 4px;
}

.listmap-date {
    margin-top: 25px;
}

.btn-open-map {
    margin-top: 30px;
    padding-right: 5px;
}
.btn-open-map .btn,
.btn-open-map .personal-btn-select {
    font-weight: bold;
    border-radius: 5px;
}

.btn-darkx {
    background: #666;
    color: #fff;
}
.btn-darkx:hover {
    background: #7a7a7a;
    color: #fff;
}

.listmap-item-ed .listmap-item-ct {
    padding-left: 14px;
}

.mypage-content-list {
    padding-right: 0;
    width: 100%;
}



.mypage {
    overflow: hidden;
}
.mypage-header,
.mypage-main,
.mypage-footer {
    min-width: 960px;
}

/* ==========================================================================
     ******************************Css 23 12***********************************
     ========================================================================== */
.mypage-header-search {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.mypage-header-search .header-search-ic {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    font-size: 10px;
    color: #8c8c8c;
}

.mypage-header-search .form-control {
    padding-left: 30px;
    background: #d2d2d1;
}
.mypage-header-search .form-control:focus {
    background: #f1f1f1;
    border-color: #93b6af;
}
.mypage-header-search .input-search-mypage {
    height: 25px !important;
}
.mypage-header-search .form-control::placeholder {
    font-style: italic;
}

.mypage-sidebar.mypage-sidebar-left button:hover {
    cursor: default;
}
.modal{
    text-align: center;
}
.modal .modal-content *{
    text-align: left;
}
.content-alert-popup{
    white-space: pre-line;
}
.modal .modal-content .text-center *{
    text-align: center;
}
.modal-logout-ed {
    display: inline-flex;
    max-width: 100%;
}
.modal-logout-ed .modal-header {
    padding: 4px 7px;
}
.modal-logout-ed .modal-header button i {
    font-size: 19px;
}
.modal-logout-ed .modal-body {
    padding: 0 8.5px 8.5px;
}
.modal-logout-ed .modal-header .close {
    padding: 1rem 0.9rem;
}
.modal-logout-ed .modal-action-content {
    font-size: 12px;
    border: 1px solid #8080805e !important;
    border-radius: 6px !important;
}
.modal-logout-ed .modal-group-btn .btn {
    padding: 0.5rem 0.8rem;
}
.modal-logout-ed .modal-action-content .fa-exclamation-triangle {
    color: rgba(19, 19, 19, 0.85);
}
.modal-logout-ed button:hover {
    cursor: default;
}

.avatar-btn-menu {
    top: 32px !important;
    max-width: 469px;
}
.avatar-btn-menu .dropdown-item{
    color: #cccccc !important;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 22px;
}
.dropdown-item {
    font-size: 12px;
    padding: 0.25rem 1.2rem;
}
.dropdown-item:hover {
    color: #fff !important;
}

.ant-dropdown.avatar-btn-menu.ant-dropdown-placement-bottomLeft ul {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ant-dropdown.avatar-btn-menu.ant-dropdown-placement-bottomLeft ul li {
    padding-left: 14px;
    padding-right: 14px;
}

.color-error {
    color: #ec7c6b;
}
.btn-dark:active {
    color: #fff !important;
    background-image: linear-gradient(#404040, #292727 60%, #242525) !important;
    border-color: #4e4e4e !important;
    box-shadow: none !important;
}
.login-form .form-check-input:focus {
    outline-color: rgba(89, 116, 110, 1) !important;
    border: 2px solid rgba(89, 116, 110, 1);
    opacity: 1;
    left: 18px;
    top: -7px;
    width: 18px;
    height: 19px;
}
.bg-gradient-black,
.dropdown-menu-bg-black,
.btn-dark,
.w-btn-now .btn:hover,
.w-btn-now .personal-btn-select:hover,
.w-btn-now .btn:focus,
.w-btn-now .personal-btn-select:focus {
    background-image: linear-gradient(#444444, #2d2d2d 70%, #2d2d2d);
}
.btn-dark {
    color: #fff !important;
    background-color: #343a40;
    border-color: #535454;
}
.mypage-login-bg,
.login {
    background-size: contain;
}
.role-a {
    text-transform: lowercase;
}

.modal-backdrop.show {
    opacity: 1 !important;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
}
.custom-invaled-error-ps {
    margin-left: 8px;
    margin-top: 0px !important;
}
.custom-form-group {
    margin-bottom: 0px !important;
}
.form-control:focus {
    font-weight: normal !important;
    font-size: 13px;
}

.box-search {
    position: absolute;
    flex-direction: column;
    border: 1px solid #696666;
    border-top: none !important;
    width: 482px;
    top: 35px;
    z-index: 1050;
    right: 0px;
    box-shadow: 0 0 0.6rem 0.6rem rgba(0, 0, 0, 0.09);
    border-radius: 0px 0px 5px 5px;
    max-height: calc(100% - 60px);
}
.scroll-bar-search {
    overflow-y: auto;
    max-height: 100%;
}
.text-search-norecord {
    font-size: 16px;
    color: #adadad;
    font-weight: 700;
    margin-bottom: 0;
}
.no-record {
    background: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 5px;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
}
.data-search {
    width: 100%;
    background: white;
    border-radius: 0px 0px 5px 5px;
    display: flex;
}
.data-search:last-child .left-search {
    border-radius: 0px 0px 0px 5px;
}
.data-search:last-child .right-search {
    border-radius: 0px 0px 5px 0px;
}
.left-search {
    width: 121px;
    background-color: #e0e0e0;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #cecdcd;
}
.left-search .links-show-detail {
    color: #79b1ae;
    margin-left: 5px;
}
.left-search .links-show-detail:hover {
    text-decoration: underline;
    cursor: pointer;
}
.left-search .title-search {
    font-weight: 900;
}
.header-search {
    padding: 4px 3px;
    flex-grow: 1;
    font-size: 12px;
}
.right-search {
    width: 361px;
    border-bottom: 1px solid #cecdcd;
}
.popup-fontsize {
    font-size: 10.5px;
}
.right-search .right-search-header,
.right-search-content {
    float: left;
}
.right-search .right-search-header {
    padding: 7px;
}
.right-search .right-search-content {
    padding: 2px;
    width: 180px;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right-search .right-search-footer {
    padding: 2px;
    float: right;
    width: 120px;
}
.right-search .right-search-footer > span {
    float: right;
    padding-right: 3px;
    white-space: nowrap;
}
.right-search-item {
    overflow: auto;
    border-bottom: 1px dotted #cecdcd;
    border-left: 1px solid #cecdcd;
    font-weight: 500;
    color: #666;
    padding-top: 5px;
    padding-left: 4px;
}
.right-search-item:hover {
    background-color: #eaf3f2;
    overflow: auto;
    cursor: pointer;
    border-radius: 0px 0px 5px 0px;
}
.font-size-13 {
    font-size: 13px;
}
.custom-form-control-sm {
    height: -webkit-fill-available !important;
}
.modal-full {
    min-width: 100%;
    /* margin: 34px auto; */
}
.modal-search {
    left: 0.8% !important;
    width: 98.4% !important;
    top: 34px;
}
.modal-full .modal-content {
    height: 95%;
    margin-bottom: 25px;
}
.modal-body-full {
    background-color: white;
    border: 1px solid #080808;
    border-radius: 0px 0px 5px 5px;
}
.modal-body-full .right-arrow-btn-icon {
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid gray;
}
.modal-body-full .left-arrow-btn-icon {
    border-radius: 0px 5px 5px 0px;
    border-left: 1px solid gray;
}
.modal-body-full .right-arrow-btn-icon,
.left-arrow-btn-icon {
    position: relative;
    opacity: 0.4;
    box-shadow: 0 0px 0px 2px #d4d4d4;
}
.modal-body-full .right-arrow-icon {
    position: absolute;
    top: 19px;
    right: 55px;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.modal-body-full .left-arrow-icon {
    position: absolute;
    top: 20px;
    right: 25px;
}
.link-back-mypage {
    color: #79b1ae;
    font-size: 12px;
    font-weight: bold;
}
.link-back-mypage:hover {
    cursor: pointer;
    opacity: 0.7;
}
.modal-full-header {
    border-bottom: 1px solid #dadada;
    padding: 10px 6px 2px 0px;
    overflow: auto;
}
.number-paginate {
    color: #cccccc;
    font-size: 12px;
    font-weight: 600;
}
.modal-full-paginate {
    float: right;
}
.modal-full-body {
    font-size: 12px;
    /* height: 820px; */
    overflow-y: auto;
}
.modal-full-body .modal-search-header {
    padding-top: 10px;
}
.modal-full-body .modal-search-header,
.modal-search-content {
    float: left;
    padding-left: 7px;
}
.modal-full-body .modal-search-content {
    padding-left: 10px;
    width: 80%;
}
.modal-full-body .modal-search-footer {
    float: right;
    padding-bottom: 10px;
    font-size: 11px;
    text-align: right;
    font-weight: 500;
    color: #484646;
    padding-right: 8px;
    max-width: 200px;
    line-height: 1.3;
}
.modal-full-item {
    border-bottom: 0.5px solid #dadada;
    overflow: auto;
    padding: 7px 0px 0px 0px;
    font-weight: 500;
    color: #444343;
    padding-left: 8px;
}

.w-98 {
    width: 98px;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    .modal-full-item {
        padding: 7px 0 7px 0 !important;
    }
}}

@media not all and (min-resolution:.001dpcm) {
    @media {
        .modal-full-item {
            padding: 7px 0 7px 0 !important;
        }
    }
}
.modal-full-item-link,
.right-search-item-link,
.modal-full-item-link:hover,
.right-search-item-link:hover {
    color: black;
}
.modal-full-item:hover {
    background-color: #eaf3f2;
}
.modal-full-item-link:last-child .modal-full-item {
    border-bottom: none !important;
}
/* ///////////////// */
.btn-custom-link:hover {
    cursor: pointer;
}
.btn-custom-links:hover {
    cursor: default;
}

.hover-dblock .btn.btn-darkx.btn-sm:focus {
    box-shadow: none;
}

.fs-9 {
    font-size: 9px;
}

.fs-22 {
    font-size: 22px;
}

.badge.badge-pill.badge-secondary.d-flex.align-items-center {
    color: rgb(102, 102, 102);
    background-color: rgb(186, 186, 186);
}

.btn.btn-secondary.btn-sm.font-weight-bold.btn-darkx {
    margin-top: 14px;
    color: #fff;
    text-shadow: 1px 0px #212121;
    box-shadow: 0px -1px 0px 0px #2b2b2b;
    border-bottom: 1px solid #fff;
    border-radius: 6px;
}
.details-templates .fa-star {
    color: #a5a5a5;
}

.login-logo img {
    width: 276px;
}
.login-tlt {
    color: #eae3c9;
    font-size: 1.85714rem;
    margin-bottom: 13px !important;
    height: 34px;
    line-height: 33px;
}
.login-content {
    padding-bottom: 59px;
    height: 534px;
}
.forgot-password-content{
    height: 430px;
}

.change-password-content {
    height: 508px;
}
.login-form .btn-dark {
    width: 102px;
    height: 36px;
    z-index: 10;
    box-shadow: 1px 2px 3px 0px #2d2d2d;
    margin-bottom: 3px;
    line-height: 25px;
    border-top: 1px solid #585858d1;
    border-left: 1px solid #444444;
    border-right: 1px solid #3d3d3d;
    border-bottom: 1px solid #3e3e3e;
    margin-left: -2px;
    text-indent: 3px;
    background-image: linear-gradient(#444444, #2f2f2f 70%, #2d2d2d);
}

.no-map-title {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: bold;
    color: #aaaaaa;
    text-shadow: 1px 1px #e8e8e8;
}

h3.listmap-title.text-truncate {
    white-space: pre;
}

.invaled-error-ps {
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}
.login-form .invaled-error-ps{
    padding-left: 0 !important;
}
.pd-modal-inputwidth .form-group .invaled-error{
    height: 13px;
}
h2.modal-title {
    font-size: 16px;
    font-weight: bold;
    color: #777777;
}
.info_members .badge {
    padding: 3px 10px;
    font-size: 84%;
    font-weight: 500;
    border-radius: 6px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-shadow: 0px 1px #212121;
    box-shadow: 0px -1px 0px 0px #1f1f1f;
    border-bottom: 1px solid #fff;
    background-color: #666666;
    min-width: 79px;
    cursor: default;
}
.mypage-sidebar-right {
    background-image: url(../../../wlp-client-common/images/mypage-content-nav-bg.jpg);
    background-repeat: repeat;
}
.info_members {
    position: relative;
    background: #d0d0d0;
}
.list-group-bg-hover,
.mypage-sidebar-left-list .list-group-item:hover {
    background: rgba(0, 0, 0, 0.05);
}
.details-templates-img {
    padding: 8px 8px 12px 8px;
}
.details-templates-img img {
    height: auto;
}
.details-templates {
    font-size: 12px;
    padding: 12px 10px 12px 11px;
    line-height: 17px;
}
.title-memberlist {
    margin-bottom: 2px;
    margin-top: 10px;
}
.bg-category {
    width: 100%;
    box-shadow: 0px 0px 2px 1px #808080c7;
}
input.form-control-shadow:focus, .add-member-email-field {
    background: url(../../../wlp-client-common/images/textInputSkin03_selected.png)
        no-repeat -8px -6px;
    background-size: 130% 140%;
}

.add-member-email-field:focus{
    border:1px solid #89bcb8 !important;
}

input.form-control.is-invalid:focus {
    background: url(../../../wlp-client-common/images/textInputSkin042x.png)
        no-repeat -8px -6px;
    background-size: 130% 140%;
}
.content-detail-new-template {
    height: 90px !important;
    background-color: #f8f8f8;
}
.content-detail-new-template.form-control-shadow:focus {
    background: url(../../../wlp-client-common/images/textInputSkin03_selected.png)
        no-repeat -8px -17px;
    background-size: 130% 140%;
}

.description-teaminfo{
    height: 98px !important;
    background-color: #f8f8f8;
}
.description-teaminfo.form-control-shadow:focus {
    background: url(../../../wlp-client-common/images/textInputSkin03_selected.png)
        no-repeat -8px -17px;
    background-size: 130% 140%;
}

.bg-drop-shadow{
    background: url(../../../wlp-client-common/images/bg-formcontrol.jpg) repeat-x;
    background-size: auto 100%;
}

.btn-dark:hover {
    box-shadow: 0px 0px 2px 0px #272727;
    background-image: linear-gradient(#5d5d5d, #5c5c5c 70%, #616161) !important;
    border-color: #949494 !important;
}
.btn-dark.actived-dropdown {
    background-image: linear-gradient(#434343, #383838 70%, #2d2d2d) !important;
    border-color: #272727 !important;
}
.mypage-sidebar, .group-btn-skew .btn-skew {
    z-index: 0;
}
.mypage-content{
    z-index: 9;
    display: flex;
    flex-direction: column;
}/* -----------------custom select option -> dropdown------ */
.w-164px {
    width: 164px;
}
.dropdown-personal .btn {
    display: block;
    width: 100%;
    background: url(../../../wlp-client-common/images/bg-select-option.jpg) repeat-x;
    text-align: left;
    color: #464646;
    min-height: 35px;
    position: relative;
    padding-left: 17px;
    padding-top: 8px;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(197,195,195,1);
    -moz-box-shadow: 0px 1px 2px 1px rgba(197,195,195,1);
    box-shadow: 0px 1px 2px 1px rgba(197,195,195,1);
    border-bottom: hidden;
    border-top: 1px solid #dcdcda !important;
    border-left: hidden;
    border-right: hidden;
}
.dropdown-personal .btn:before {
    content: url(../../../wlp-client-common/images/pulldownIcon2.png);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.dropdown-personal .btn:hover {
    cursor: default;
}
.dropdown-personal .focus-btn-dropdown {
    outline: none !important;
    color: #464646 !important;
    box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.2);
    opacity: 1 !important;
}
.dropdown-personal .dropdown-menu {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 1px 2px 1px #a9a9a9b3;
    background: #e2e2e1;
    margin-top: -1px;
}
.dropdown-personal .dropdown-item{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 36px;
    height: 30px;
    position: relative;
    background-color: #e2e2e1;
    color: #464646;
    display: flex;
    align-items: center;
}
.dropdown-personal .dropdown-item.active:before{
    content:"\f00c";
    position: absolute;
    top: 30%;
    left: 15px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #2d2d2d;
    font-size: 13px;
    transform: rotate(-12deg);
}
.dropdown-personal .dropdown-item:hover{
    background: #bbd4d1;
    cursor: default;
    color: #464646 !important;
}
.mt-1rem {
    margin-top: 1rem;
}
.custom-mess-error {
    font-size: 12px;
    padding-left: 5px;
}
.custom-alert-warning {
    background-color: #f1ecd8 !important;
    font-weight: bold !important;
    font-size: 16px;
    color: #bfaf78 !important;
    height: 38px;
    align-items: center;
    display: flex;
    border-color: #e8dbb5 !important;
}
.form-control-shadow {
    border: 1px solid #89bcb8;
}
.custom-text-mute {
    color: #9da1a5 !important;
}
.text-select-image {
    font-weight: bold;
}
.font-size-10-5 {
    font-size: 10.5px;
}
.fa-play:before {
    font-size: 5px;
}
.w-360px {
    width: 360px;
}
.h-40px {
    height: 40px;
    width: 100%;
}
.font-per-gray {
    font-size: 12px;
    color: grey;
}
/* -------------------------------- */

a.mypage-btn-action.border-left.border-secondary.border-right-0 {
    font-size: 14px;
}

a.mypage-btn-action.border-left.border-secondary.border-right-0.in-active {
    color: rgb(156, 156, 156) !important;
}

a.mypage-btn-action.border-0 {
    font-size: 14px;
}
a.mypage-btn-action.border-0.in-active {
    color: rgb(156, 156, 156) !important;
}

.w-100.text-center.box-pagition-nb {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -1px;
    font-family: Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.mypage-pagition {
    flex-basis: 270px;
}
.color-box-list {
    top: 49% !important;
}
.mypage-sidebar-left .color-box-items:hover + .list-group-item:not(.item-active) {
    background-color: rgba(0, 0, 0, 0.05) !important;
}
.item-active:hover, .item-active:focus {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.input-search-focus {
    border: 1px solid #93b6af !important;
    box-shadow: inset 0px 0px 5px 1px #93b6af !important;
    outline: 1px solid #93b6af !important;
    background-color: white !important;
}

.bg-category.d-flex.align-items-center.justify-content-center{
    max-width: 253px;
    flex-basis: 270px;
}
.mypage-header-right-btn {
    width: 36px;
    padding: 6px 0px 0px 2px;
}
.dropdown-profile .placeholder {
    margin-top: 3px;
}
.mypage-btn-action {
    height: 45px;
}
.min-w88 {
    min-width: 88px;
}
.detail-map-info-right{
    width: 160px;
    max-width: 100%;
    line-height: 17px;
    margin-bottom: 4px;
    color: #484848 !important;
    word-break: break-all;
}
.no-border-right{
    border-right: none;
}
.w-80-block{
    width: 80px;
    display: block;
}
.details-templates-frm{
    word-break: break-word;
    padding: 10px 7px;
}

#exampleInputEmail1[readonly] {
    background-color: #e6f1f0 !important;
}
.card.border.border.rounded-lg.modal-action-content {
    padding: 20px 27px 21px 28px !important;
}
.modal-logout-ed .modal-action-content {
    min-width: 222px;
}
#error-modal-content-body{
    text-align: left;
}
/* style Task K_B-322 */
.w-165px {
    width: 165px;
}
.dropdown-item-overflow {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-dropdown-item {
    padding: 5px 10px;
}
.modal-width-380px {
    width: 380px !important;
}
textarea.placeholder-italic {
    resize: none;
}
textarea.placeholder-italic::placeholder {
    font-style: italic;
}
.form-control-textarea-shadow {
    box-shadow: 0 0 0 4.5px rgba(193, 195, 195, 0.34);
    border-radius: 4px;
}
input.form-control-textarea-shadow {
    background: url(../../../wlp-client-common/images/textInputSkin03.png)
        no-repeat -4px -5px;
    background-size: 105% 140%;
    border-color: #bababa;
    border-top: 1px solid #e7e8e8;
    border-left: 1px solid #e7e8e8;
}
.form-control-textarea-shadow:focus {
    box-shadow: 0 0 0 4.5px rgba(147, 182, 175, 0.25);
    border-color: #93b6af;
}
.form-control-textarea-default{
    -webkit-box-shadow: inset 1px 1px 2px -1px #9d9d9d;
    -moz-box-shadow: inset 1px 1px 2px -1px #9d9d9d;
    box-shadow: inset 1px 1px 2px -1px #9d9d9d;
    border-color: #bababa;
    border-top: 1px solid #9d9d9d;
    border-left: 1px solid #9d9d9d;
}
.bg-textarea-isvalid {
    background-color: #e6f1f0;
    box-shadow: none;
    border: 1px solid #9cc1a5;
}
.max-width-405px {
    max-width: 405px !important;
}
.max-width-350px {
    max-width: 350px !important;
}
/* --------------------------K_B-67-------------- */
/* .table-resizable th {
    border: 0.5px solid #aaaaaa !important;
    box-shadow: none !important;
    font-size: 12px !important;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
} */
.react-resizable {
    position: relative;
    background-clip: padding-box;
}
.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 100%;
    bottom: 0;
    right: -10px;
    cursor: col-resize;
    z-index: 1;
}
#personal-tabs3 th:last-child .react-resizable-handle {
    display: none;
}
.table-operations {
    margin-bottom: 16px;
}
.table-operations > button {
    margin-right: 8px;
}

h2.presonal-title-tabs {
    font-size: 17px;
    font-weight: bold;
    color: #777777;
    padding-left: 3px;
    padding-bottom: 5px;
}
.ant-table-thead > tr > th .ant-table-header-column .ant-table-column-sorters::before {
    background-color: #d4d4d4;
}
.badge-bg-gray {
    padding: 5px 0px;
    background-color: #bebebe;
    color: #5d5959;
    font-size: 10px;
    text-align: center;
    width: 80px;
}
.th-icon-sort-data-down::before {
    content: url(../../../wlp-client-common/images/pulldownIcon2.png);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
}
.th-icon-sort-data-up::before {
    content: url(../../../wlp-client-common/images/pulldownIcon2.png);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotateZ(180deg);
    width: 7px;
}
.active-col-table {
    background-color: #bababa !important;
    box-shadow: inset 0 0 5px 2px rgba(90, 86, 86, 0.2);
}


.position-reset{
    position: initial;
}
/* -------------------------------- */
.dropdown-box {
    width: fit-content;
    padding: 10px 0px;
    border-radius: 4px;
    color: #e4e2e2;
    max-width: 100%;
    z-index: 99;
    position: absolute;
}
.dropdown-toggle-box {
    height: 28px;
    position: relative;
    color: #fff !important;
    border-color: #363636 !important;
    text-shadow: 0px 0px 0px;
    padding-top: 5px;
}
.dropdown-toggle-box::before {
    content: url(../../../wlp-client-common/images/pulldownIcon2.png);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
}
.details-templates .text-truncate{
    width: 158px;
    max-width: 100%;
    line-height: 16px;
    margin-bottom: 4px;
    color: #484848 !important;
}
.text-color-red{
    color: #de513d !important;
}
.text-color-red::selection{
    color: #de513d !important;
    background-color: transparent;
}
/* ---- */
.progress-bar {
    height: 100%;
    border-radius: 5px;
}
.text-warning-gb {
    color: #b9a200;
}
.font-size-10 {
    font-size: 10px;
}
.text-muted-status {
    color: #aaaaaa;
    font-weight: bold;
}
.font-size-13 {
    font-size: 13.5px;
}
.border-st {
    border: 1px solid #aaaaaa;
}
.progress {
    background: url(../../../wlp-client-common/images/bg-process.png) repeat-x;
    background-size: auto 100% ;
}
.rounded-progress {
    border-radius: 0.5rem;
}
.color-pecent {
    color: #818180;
}
/* ----- */
.personal-tlt {
    color: #333333;
}
.font-size-24 {
    font-size: 24px;
}
.font-size-12 {
    font-size: 12px;
}
.personal {
    background: url(../../../wlp-client-common/images/bodyBGP.png) repeat !important;
}
.list-group-tabs .active{
    color: #ffffff !important;
}
.list-group-item-dark {
    color: #585857 !important;
    height: 55px;
    line-height: 27px;
}
.bg-listgroup-tabs, .list-group-tabs .list-group-item.active {
    background-image: linear-gradient(#6c6c69, #6c6c69 60%, #6c6c69) !important;
}
.list-group-item {
    border-bottom: none !important;
}
.input-empty-p {
    box-shadow: 0 0 0 4.5px rgba(193, 195, 195, 0.34);
    border: 1px solid #a5a1a1;
    background-color: #f8f8f8;
}
.input-empty-p:focus {
    background: url(../../../wlp-client-common/images/textInputSkin03_selected.png)
        no-repeat -8px -6px;
    background-size: 130% 140%;
    box-shadow: 0 0 0 4.5px rgba(147, 182, 175, 0.25);
    border-color: #93b6af;
    height: 33.5px;
}
.avatar-highlight {
    display: flex;
    justify-content: center;
    background: url(../../../wlp-client-common/images/avator_highlight_1@2x.png);
    background-size: 150px 150px;
    width: 150px;
    height: 145px;
    position: relative;
    align-items: center;
}
.avatar-content {
    max-height: calc(100% - 18px);
    max-width: calc(100% - 20px);
}
.w-150px {
    width: 150px;
}
.w-130px {
    width: 130px;
}
.btn-select-image {
    padding: 3px;
    box-shadow: inset 0 0 5px 2px #737373;
    height: 35px;
}
.mr-3px {
    margin-right: 3px;
}
.ml-4px {
    margin-left: 4px;
}
.border-pi {
    border-top: 2px solid #bebebe;
    border-bottom: 2px solid #bebebe;
}
.icon-pi {
    font-size: 9px;
}
.btn-select-image {
    border-radius: 5px;
}
.list-group-tabs .list-group-item.list-group-item-no-bb {
    border-bottom: 0 !important;
}
.list-group-item.pd-left-40px {
    padding-left: 40px !important;
}
.color-mail-p {
    color: #6e7173;
}
.list-group-item.list-group-item-dark {
    background-color: #bdbeba;
    background-image: none;
}
/* -----------------k */
.w-432px {
    width: 432px;
}
.form-group.form-group-mb {
    margin-bottom: 0.2rem;
}
.modal-header {
    height: 30px;
}
.modal-header .close {
    padding: 0.85rem 0.9rem 0rem 0rem;
}
.modal-title {
    padding-top: 7px;
    margin-bottom: 3px;
}
.modal-body {
    font-size: 12px;
    padding: 0 10px 10px !important;
}
.modal-search .modal-body {
    padding: 0 10px 0px !important;
}
.dropdown-toggle {
    padding-left: 17px;
}
.dropdown-toggle.dropdown-toggle-box {
    box-shadow: none !important;
    padding-right: 25px;
}
:-ms-input-placeholder.form-control{
    opacity: 1;
}
.label-slider{
    font-size: 9px;
    color: #a6a6a6;
}
.w-slider-prev{
    left: 284px;
}
.btn-slider {
    width: 40px;
    height: 40px;
}
.btn-slider-prev img{
    margin-left: -3px;
    opacity: 0.5;
}
.btn-slider-next img{
    margin-right: -4px;
}
.mypage-modal-bg {
    background-color: #e8e8e8;
    box-shadow: 0 0 0.2rem 0.15rem #c1c1c1;
    border-radius: 0.4rem !important;
}
.w-100px {
    height: 36px;
}
.border-modal-content {
    border: 1px solid #d3d3d3 !important;
}
.w-355px {
    max-width: 355px;
}
.w-510px {
    max-width: 510px;
}
.pt-10px {
    padding-top: 10px;
}
.pb-17px {
    padding-bottom: 17px;
}
.btn-whitefl {
    background-image: linear-gradient(#c1c1c1, #b2b2b2 0%, #a5a5a5) !important;
    color: #444444;
}
.text-nowrap {
    white-space: nowrap;
}

.text-pre-line {
    white-space: pre-line !important;
}
.modal-group-btn .btn-whitefl, .modal-group-btn .btn-dark {
    margin-left: 5px !important;
    margin-right: 5px !important;
    box-shadow: 0 0 0 0.04rem #c1c1c1;
    border: none;
}
.no-wrap{
    white-space: nowrap;
}

.mypage-sidebar-left-item .carret-icon{
    width: 13px;
    height: 13px;
}
.mypage-left-panel.team-list *{
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}


.mypage-left-panel.category-list .text-uppercase{
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.pl-20{
    padding-left: 20px !important;
}

.list-group-title.text-uppercase.collapsed {
    padding-left: 10px !important;
}

.pb-8{
    padding-bottom: 8px;
}

.list-group-item.list-group-item-action {
    padding-left: 13px;
}

.color-box-pos{
    left: 20px;
}

.magin-right-reset{
    margin-right: 0 !important;
}

.pt-8{
    padding-top: 8px;
}

.pb-6{
    padding-bottom: 6px;
}

.pt-10{
    padding-top: 10px;
}

.pb-7{
    padding-bottom: 7px !important;
}

.txt-shadow-245{
    text-shadow: 0px 1px 0px rgba(245, 245, 245, 1);
}

.modal-w380 {
    width: 380px;
}
.mb-10px5{
    margin-bottom: 10.5px;
}
.pl-10px {
    padding-left: 10px !important;
}
.pl-3px {
    padding-left: 3px !important;
}
.padding-label-select{
    padding: 0 0 0 6px !important;
}
.button-add {
    font-weight: 700;
}
.span-team-created{
    font-weight: initial;
}
.save-message-teamInformation{
    margin-bottom:  10px !important;
}
.no-resize{
    resize: none;
}
.mb-3px{
    margin-bottom: 3px !important;
}
.bg-category {
    background: url(../../../wlp-client-common/images/bg-category-img.png) no-repeat;
}
.font-size-14px{
    font-size: 14px !important;
}
.profile-dropdown.dropdown-toggle{
    padding-left: 4px;
}
.profile-dropdown.ant-dropdown-open{
    background-image: linear-gradient(#434343, #383838 70%, #404040) !important;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.47);
}
.modal-action-content {
    background: linear-gradient(0deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
}
.mb-2px {
    margin-bottom: 2px;
}
.font-size-16px {
    font-size: 16px;
}
.text-create-template {
    margin-bottom: 0px;
    margin-top: 13px;
}

input:focus:-moz-placeholder, textarea:focus::-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder, textarea:focus::-ms-input-placeholder { color:transparent; } /* IE 10+ */
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color:transparent; }

.border-bottom.border-color-mp.details-templates * {
    text-shadow: 0px 1px 0px rgba(240, 240, 240, 1);
}

.text-muted-6{
    color: #666666;
}

.pt-3px{
    padding-top: 3px;
}

p.pl-2.pr-2.title-memberlist {
    color: rgb(85,85,85);
    font-size: 14px;
    display: flex;
    align-items: center;
}

.pr-8{
    padding-right: 8px;
}

.mypage-sidebar-right{
    padding-bottom: 0;
    flex: 0 270px;
    width: 270px;
    max-width: 270px;
    overflow-x: hidden;
    overflow-y: auto;
}

.mypage-sidebar{
    z-index: 10;
}
.modal-backdrop-2nd {
    z-index: 1060;
}
.zindex-1070 {
    z-index: 1070 !important;
}
.btn-add-member-plus,
.btn-add-member-minus {
    border: 1px solid gray;
    padding: 0px 3.5px;
    border-radius: 0;
}
.btn-add-member-plus {
    background: #eaeaea;
}
.btn-add-member-plus:hover {
    background-color: #d4d4d4;
}
.btn-add-member-plus:focus, .btn-add-member-minus:focus {
    box-shadow: none !important;
}
.font-size-9 {
    font-size: 9px;
}
.font-invite-email {
    background-color: #f8f8f8;
    border: 1px solid #9d9d9d;
    box-shadow: 0 0 0 4.5px rgba(165, 165, 165, 0.25), inset 0.4px 0.3px 0px 0px #9d9d9d;
}
.font-invite-email:focus {
    box-shadow: 0 0 0 4.5px rgba(147, 182, 175, 0.25);
    border-color: #93b6af;
}
.is-invalid-invite-mail:focus {
    border-color: #fd8b95 !important;
}
.focus-transparent:focus::placeholder {
    color: transparent;
}
.invalid-success {
    background-color: #e6f1f0;
    box-shadow: none;
    border: 1px solid #89bcb8;
}
.form-invite-email {
    position: relative;
}
.form-invite-email input {
    position: absolute;
    top: -7px;
    left: -2px;
    opacity: 0;
    height: 0;
    height: 21px !important;
    width: 19.5px !important;
}
.form-invite-email .checkmark,
.form-invite-email input:checked ~ .checkmark {
    height: 21px;
    width: 19.5px;
    margin-top: -3px;
    position: absolute;
}
.form-invite-email .checkmark {
    background: url(../../../wlp-client-common/images/checkBox2_bg1.png) no-repeat;
    background-size: 100% 100%;
    left: -20px;
}
.form-invite-email input:checked ~ .checkmark {
    background: url(../../../wlp-client-common/images/checkBox2_bg2.png) no-repeat;
    background-size: 100% 100%;
}
.form-invite-email input:checked ~ .checkmark:after {
    display: block;
}
.ml-5px {
    margin-left: 5px;
}
.group-btn-invite-mail {
    /* padding-bottom: 35px; */
}
.group-btn-invite-mail .btn-whitefl, .group-btn-invite-mail .btn-dark{
    margin-left: 3px;
    margin-right: 3px;
}
.group-btn-invite-mail .btn-whitefl:focus,
.group-btn-invite-mail .btn-dark:focus {
    box-shadow: none !important;
}
.custom-textarea {
    height: 90px !important;
}
.custom-form-checkbox {
    margin-bottom: 0.7rem !important;
}
.input-invite-email {
    margin-bottom: 15px;
}
.mb-s5px {
    margin-bottom: -5px;
}
.login-form .btn-dark:focus {
    outline-color: rgba(89, 116, 110, 1);
    border: 2px solid rgba(89, 116, 110, 1);
}
.login-form-check{
    line-height: 16px;
}
.login-form .fa-caret-right{
    font-size: 10px;
    margin-top: -4px;
    margin-left: 1px;
}
.text-forgotpassword{
    margin-bottom: 22px ;
}
.forgot-password-icon{
    margin-left: 1px;
    margin-right: 4px;
    margin-top: -1px;
}
.w-330px {
    width: 330px;
}
.personal .list-group-item:last-child {
    box-shadow: 0 3px 0px 0px #a0a0a0;
}
.personal .custom-text-mute {
    margin-bottom: 0.15rem !important;
}
.fs-label-ps {
    font-size: 13.5px;
}
.w-353px{
    width: 353px;
}
.modal-content{
    box-shadow: 0px 0px 4px #0000009e;
    border: none;
}
.personal-btn-select {
    background: #828380;
}
.badge-pill-custom {
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-top: 2px;
    padding-bottom: 0px;
}
.mypage-sidebar-left {
    display: flex;
    flex-direction: column;
}

.mypage-sidebar-left-collapse {
    overflow: auto;
    height: calc(100% - 121px);
}
.invaled-error {
    padding-left: 5px;
}
.dropdown-profile > .btn:focus {
    background-color: #2f2f2f;
}

.mt-12px{
    margin-top: 12px;
}

.error-modal-content-body{
    line-height: 15px;
}

.mb-17px{
    margin-bottom: 17px;
}
.pl-media-ac {
    padding-left: 12px;
}
.pl-media-body {
    padding-left: 0.8rem !important;
}
.mb-text-muted-status {
    margin-bottom: 3px;
}
.mr-img-user {
    margin-right: 0.7rem !important;
}
.mt-media-user {
    margin-top: 0.75rem !important;
}
.bg-progress-bar {
    background-color: #5d5d5d;
}
.progress-ac {
    position: relative;
}
.progress-ac-child {
    position: absolute;
    top: 19%;
    font-weight: bold;
}
.text-pecent-black {
    color: #818181;
}
.text-pecent-white {
    color: #ffffff;
}
.btn-rt-map {
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-ls-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 108px;
}
.p-add-member {
    padding: 0.9rem 0.8rem 0.5rem 0.8rem;
}
.cp-skew-left {
    left: 15%;
    width: 100%;
    height: 100%;
    position:relative;
    display:flex;
    background-color: inherit;
    align-items: center;
    justify-content:center;
    transform: skew(-26deg); /* Standard syntax */
    -ms-transform: skew(-26deg); /* IE 9 */
}

.cp-skew{
    display: inline-block;
    height: 17px;
    transform: skew(26deg);
    -ms-transform: skew(26deg); /* IE 9 */
    width: 50px;
    border-left: 1px solid gray;
    border-bottom: 1px solid #a9a9a9;
}

.group-btn-skew .btn-skew-l::before{
    border-bottom: 1px solid #c1c1c1;
}

.cp-skew-text{
    margin-right: 20%;
    font-size: 10px;
    color: #fff;
    margin-left: -7px;
    margin-top: 2px;

}

.w-list-templates-content{
    box-shadow: inset 0px 0px 4px 0px grey;
}

.skew-container{
  padding: 50px;
}

.up-icon{
    background-color: rgb(184,155,221);
}

.new-icon{
    background-color: rgb(221,165,155);
}

.w-120{
    width: 120px;
}
.badge-can-add{
    width: 14px;
    height: 14px;
    padding: 1px !important;
    min-width: auto !important;
    border-radius: 50% !important;
    box-shadow: none !important;
}
.badge-hover:hover{
    background-color: #808080 !important;
}
.name-member-shareing{
    width: 115px;
    position: absolute;
    padding-top: 4px;
}
.badge-disable{
    background: #9f9f9fbf !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: gainsboro;
    border: none;
    padding-top: 1px !important;
}
.none-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.content-alert-popup img{
    padding: 12px 0px 14px 0px;
    margin-right: 5px;
}
.content-alert-popup span{
    margin-top: 2px;
}
.text-warning, .text-warning-gd{
    color: #e9d66b !important;
}
.ml-s3px {
    margin-left: -3px;
}
.pt-7px {
    padding-top: 7px;
}
.border-invite-email {
    border: 1px solid #9fa1a2;
}
.width-80px {
    width: 80px;
}
.width-45px {
    width: 45px;
}
.dropdown-profile{
    max-width: 233px;
}

.dropdown-menu-bg-black{
    max-height: 430px;
    height: auto;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
}
.pd-modal-maxwidth .card.border.border.rounded-lg.modal-action-content{
    padding: 8px 42px 21px 43px;
}
.pd-modal-inputwidth .card.border.border.rounded-lg.modal-action-content{
    padding: 9px 30px 21px 30px;
}.member-list-table{
    background-color: #EBEBEB !important;
}

.tr-member-list{
    cursor: pointer;
    background-color: #d4d4d4 !important;
    border-bottom: 1px solid #ffffff !important;
}


.tr-member-list th {
    border: 1px solid #AAAAAA !important;
    padding: 3px !important;
}
.tr-member-list th:hover {
    background-color: #C7C7C7 !important;
}

.tr-member-list td{
    background-color:  #EBEBEB !important;
}

.table-member-list-th{
    padding: 5px 15px 5px 5px !important;
}
.table-member-list-th::before{
    right: 5px !important;
}

.member-list-table,
.member-list-table > th,
.member-list-table > td {
    background-color: #EBEBEB !important;
}

.member-list-table th,
.member-list-table td,
.member-list-table thead th,
.member-list-table tbody + tbody {
    border-left-color : #EBEBEB !important;
    border-right-color : #AAAAAA !important;
    border-bottom-color: #ffffff !important;
}

.table-hover .table-secondary:hover {
    background-color: #c8cbcf; }
.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
    background-color: #c8cbcf; }

td.dropdown-map {
    padding: 5px !important;
}

.map-font-size {
    font-size: 39px !important;
    color: #bdbdbd !important;
}
.reset-pd-btn{
    z-index:100;
    padding:  0 10px 0 0 !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    direction: rtl;
}
/* .reset-pd-btn:focus{
    background: #ffffff;
    box-shadow: none !important;
} */

.reset-pd-btn-focus {
    background: #ffffff;
    box-shadow: none !important;
}

.maps-sub{
    font-size: 80% !important;
    bottom: 3px !important;
    left: 5px !important;
}
.reset-user-name{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-size: 14px;
    color: #555555;
}

.mr-10px {
    margin-right: 10px;
}

.email-color{
    color: #777777;
}

.reset-button-radio{
    width: 20px !important;
    height: 20px !important;
}

.custom-button-delete{
    padding: 4px 17px 4px 5px;
    background-color: #7F7F7F !important;
    border-radius: 4px !important;
}
.custom-button-delete:hover:enabled{
    background-color: #979896 !important;
}
.button-delete{
    color: #FBFBFB;
    font-weight: 700;
}
.reset-icon-delete{
    font-size: 14px;
    margin-right: 6px;
    margin-top: 2px;
}
.custom-button-delete:disabled {
    background-color: #D6D7D6 !important;
}

.custom-button-delete:disabled .reset-icon-delete{
    opacity: 0.2;
}

.table-resizable .text-center{
    text-align: center;
}
.reset-padding-maps{
    padding: 5px !important;
}
.form-control{
    height: 34.5px;
}
.form-control.is-invalid-area {
    box-shadow: 0 0 0 0.4rem rgba(249, 153, 132, 0.2);
    border-color: rgba(220, 53, 69, 0.3);
    background-color: #FDF8F8;
    background-size: auto 100%;
}
.form-control.is-invalid-area:focus {
    box-shadow: 0 0 0 0.4rem rgba(147, 182, 175, 0.25);
    border-color: #93b6af;
    font-weight: bold;
    background: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQAB…AA/9oADAMBAAIRAxEAPwDprj63C0Bx9bhaA4+twtA0yASASAnIBIBICNxtSALjakAXG1IB/9k=) repeat-x;
    background-size: auto 100%;
}

.fixed-title-tabs{
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}

.mb-20px {
    margin-bottom: 20px !important;
}
.mb-4px{
    margin-bottom: 4px !important;
}
.mt-4px{
    margin-top: 4px !important;
}
.border-radius-5px{
    border-radius: 5px !important;
}

textarea::-webkit-input-placeholder {
    font-style: italic;
}
textarea:-moz-placeholder {
    font-style: italic;
}
textarea::-moz-placeholder {
    font-style: italic;
}
textarea:-ms-input-placeholder {
    font-style: italic;
}

.form-control-shadow-member{
    background-color: #F8F8F8 !important;
    border-color: #9d9d9d !important;
    box-shadow: 0 0 0 0.4rem rgba(237, 237, 237, 1);
}

.bg-secondary-member{
    background-color: #5D5D5D !important;
}.dropdown-toggle-mt-focus:focus {
    color: #464646 !important;
}
.height-90px {
    height: 90px !important;
}
.mr-5px {
    margin-right: 5px;
}
.w-250px {
    width: 250px;
}
tr.height-tr-null {
    height: 35px;
}
.table-resizable table tr td:last-child {
    border-right: 1px solid #ebebeb;
}

.profile-dropdown:hover .avatar-btn-text {
    color: rgb(223, 223, 223);
}

.profile-dropdown:focus .avatar-btn-text{
    color: rgb(223, 223, 223);
}

.avatar-btn-text {
    max-width: 170px;
}

.dropdown-item-box {
    min-width: 115px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 353px;
    line-height: 23px;
}
.dropdown-menu-resize {
    display: block !important;
    z-index: 2000;
    max-height: 187px;
    overflow: auto;
}

.dropdown-menu-resize-fix{
    min-width: 230px !important;
    max-width: 230px !important;
}

.td-overflow-unset {
    overflow: unset !important;
}
.text-member-map {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
    color: #828180;
}
.icon-gray-map {
    width: 21px;
    height: 20px;
}

.mr-bt-35px {
    margin-bottom: 35px;
}

.no-resize {
    resize: none;
}

.text-red {
    color: #eb3318;
    font-weight: bold;
    font-size: 17px;
}

.text-666666 {
    color: #666666;
}.modal-dialog{
    display: inline-flex;
}.box-img-mem {
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
}
.img-mem-detail {
    max-height: 25px;
    max-width: 25px;
    width: auto;
    height: auto;
}

.max-message-span{
    color: red;
    font-weight: 700;
}
.max-message-option{
    margin-bottom:  0 !important;
}
.personal{
    overflow: auto;
}
.personal-content-member{
    overflow:  hidden;
    margin-bottom: 20px;
    box-shadow: 0px 0px 7px #b1b1b1;
}
.form-control-company-name{
    background-color: #e6f1f0 !important;
}

.width-70{
    width: 70%;
}
.list-group-item.list-group-item-dark.fix-border-bottom {
    border-bottom: 0 !important;
}

.fix-mr-bottom{
    margin-bottom: 0 !important;
}

.position-teamName{
    margin-bottom: 10px !important;
}

.text-pasword{
    color:  #aaaaaa !important;
}
.w-65px{
    width: 65px;
}
.add-position{
    position: initial !important;
    font-size: 12px;
    margin-bottom: 5px;
    margin-bottom: 10px !important; ;
}
.checkbox-facilitator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem !important;
}
.checkbox-facilitator input {
    position: absolute;
    opacity: 0;
    height: 0;
    height: 20px !important;
    width: 19px !important;
}
.checkbox-facilitator .checkmark,
.checkbox-facilitator input:checked ~ .checkmark {
    height: 20px;
    width: 19px;
    position: absolute;
}
.checkbox-facilitator input:disabled ~ .checkmark {
    opacity: 0.3;
}
.checkbox-facilitator .checkmark {
    background: url(../../../wlp-client-common/images/checkBox2_bg1.png) no-repeat;
    background-size: 100% 100%;
}
.checkbox-facilitator input:checked ~ .checkmark {
    background: url(../../../wlp-client-common/images/checkBox2_bg2.png) no-repeat;
    background-size: 100% 100%;
}
.checkbox-facilitator input:checked ~ .checkmark:after {
    display: block;
}

.radio-facilitator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-facilitator input {
    position: absolute;
    opacity: 0;
    height: 0;
    height: 20px !important;
    width: 19px !important;
}
.radio-facilitator .checkmark,
.radio-facilitator input:checked ~ .checkmark {
    height: 20px;
    width: 19px;
    position: absolute;
}
.radio-facilitator input:disabled ~ .checkmark {
    opacity: 0.3;
}
.radio-facilitator .checkmark {
    background: url(../../../wlp-client-common/images/Radio2_BG.png) no-repeat;
    background-size: 100% 100%;
}
.radio-facilitator input:checked ~ .checkmark {
    background: url(../../../wlp-client-common/images/Radio2_checked.png) no-repeat;
    background-size: 100% 100%;
}
.radio-facilitator input:checked ~ .checkmark:after {
    display: block;
}

.input-radio-rs {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin-bottom: 0 !important;*/
}
.disabled-checkbox {
    opacity: 0.5;
}
.message-for-memberlist{
    margin: 0 10px 10px 10px !important;
}.badge-bg-inviting {
    padding: 5px 0px;
    background-color: #d6c17c;
    color: #5d5959;
    font-size: 10px;
    text-align: center;
    width: 80px;
    color: #a0802d;
}
.set-width-select-image {
    max-width: 680px !important;
}
.change-picture-title{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 7px;
    color: #777777;
    font-weight: bold;
}

.mt-34px{
    margin-top: 34px;
}

td.reset-padding-maps.reset-overflow {
    overflow: inherit !important;
}.light-gray{
    letter-spacing: 1px;
    color: #dadada;
}
.padding-right-0{
    padding-right: 0 !important;
}
.mypage-footer{
    color: white;
    text-shadow: 0px 0px 1px;
}
.mypage-footer-right .btn-reset{
    padding: 0px 5px;
}
.line-footer{
    position: relative;
    top: -1px;
}.text-slider-disabled{
    color: #000;
}
.p-3px{
    padding:  3px !important;
}
.pl-12px{
    padding-left: 12px !important;
}

.pr-7px{
  padding-right: 7px !important;
}

.reset-box-shadow{
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.reset-border-color{
    border-color: rgba(220, 53, 69, 0.6) !important;
}
.fs-11px {
    font-size: 11px !important;
}
.color-error-bold {
    color: #f3442a;
}
.mb-mail-ml {
    margin-bottom: 22px !important;
}
.media-user-info {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex: 0 100%;
    overflow: hidden;
}

.flex-auto{
    flex: 0 auto;
}
.media-user-info .media-body{
    overflow: hidden;
}
h3.personal-tlt.mb-0 {
    flex: 0 calc(100% - 200px);
}
.backdrop-all-sc {
    position: fixed;
    top: 35px;
    left: 0;
    z-index: 1040;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.width-140px {
    width: 140px;
}
.width-150px {
    width: 150px;
}
.width-100pc {
    width: 100%;
}
.text-overflow-ms {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
.modal-full-body .modal-search-footer span {
    text-align: right;
}
.lh-1d4 {
    line-height: 1.4;
}
.btn-back-sm {
    position: absolute;
    padding: 2px 5px;
}
.list-group-tabs-team .list-group-item:last-child {
    box-shadow: 0 0px 0px 0 #a0a0a0, 0 2px 1px 0 #a0a0a0;
}
.list-group-tabs-team {
    box-shadow: 0 1px 0px 0 #a0a0a0, 0 3px 4px 0 #a0a0a0 !important;
}
.textarea-team-info:focus {
    box-shadow: 0 0 0 4.5px rgba(147, 182, 175, 0.25);
    border-color: #93b6af;
    background-color: #f8f8f8;
}

.set-height-content{
    height: calc(100% - 57px) !important;
    min-height: 240px;

}.btn-add-member-sc:focus {
    box-shadow: none !important;
}
.pl-14px {
    padding-left: 14px;
}
.sc-add-members h2.presonal-title-tabs{
    padding-left: 0px;
}
.sc-add-members h2.save-message.presonal-title-tabs {
    border: 1px solid #efdfa8;
    color: #bfaf78 !important;
    padding: 9px 0px 9px 10px;
}
.sc-add-members .media-body {
    padding-left: 8px;
}
.sc-add-members .personal-tabs-addmembers {
    padding: 2px 1px;
}

.mypage {
    display: flex;
    flex-direction: column;
}

.mypage-header {
    flex: 0 35px;
}

.mypage-main {
    flex: 0 auto;
    min-height: 100%;
}

.mypage-footer {
    position: relative;
    flex: 0 25px;
}

.mypage-content-nav {
    flex: 0 46px;
}

.mypage-content-list {
    flex: 0 auto;
    overflow: hidden;
}.dropdown-personal .btn:hover{
    opacity: 0.7;
    color: #000;
}

.p-25px{
    padding: 25px;
}

.fix-margin-img {
    padding: 4px !important;
    margin: 0 !important;

}

.card.border.border-modal-content.rounded-lg.modal-action-content.set-margin-image {
    padding: 8px 33px 21px 33px !important;
}

.border-image {
    margin: 0 4px !important;
    background-color:  #ffffff !important;
}

.modal-personal-img .fix-margin-img:hover {
    opacity:  1 !important;
}

/*  */

.radio-add-member {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-add-member input {
    position: absolute;
    opacity: 0;
    height: 0;
    height: 20px !important;
    width: 19px !important;
    left: 0;
}
.radio-add-member .checkmark,
.radio-add-member input:checked ~ .checkmark {
    height: 20px;
    width: 19px;
    position: absolute;
    left: 0;
}
.radio-add-member input:disabled ~ .checkmark {
    opacity: 0.3;
}
.radio-add-member .checkmark {
    background: url(../../../wlp-client-common/images/Radio2_BG.png) no-repeat;
    background-size: 100% 100%;
}
.radio-add-member input:checked ~ .checkmark {
    background: url(../../../wlp-client-common/images/Radio2_checked.png) no-repeat;
    background-size: 100% 100%;
}
.radio-add-member input:checked ~ .checkmark:after {
    display: block;
}
.ml-20px {
    margin-left: 20px;
}
.maps-td{
    padding: 4px 5px !important;
}
.member-map-list > div > div.table-resizable > table > tbody:before{
    content:"";
    display:block;
    line-height: 10px;

}

.profile-dropdown:focus * {
    opacity: .6;
}
.personal-content-l .fa-play-circle{
    font-size: 12px;
    background: #fff !important;
    border-radius: 50%;
    width: 12px;
    height: 11px;
}
.personal-content-l .active .fa-play-circle{
    background: none !important;
}
.personal-content-l .list-group-item-dark{
    padding: 10px;
}

.w-listmap-line-height{
    line-height: 15px !important;
    font-size: 12px;
}

.listmap-title-record{
    margin-top: 8px;
    margin-bottom: 2px !important;
    font-size: 18px !important;
    letter-spacing: -1px;
}

@media (max-width: 1224px) {
    .modal-full .modal-content {
        height: 94% !important;
    } 
    /* .set-width-strong{
        width: 15.5% !important;
    } */
}

.set-width-strong{
    width: 47px;
}

.team-index {
    /* position: absolute;
    top: 0; */
    width: 100%;
    height: 3px !important;
    /* background-color: red; */
}

.team-index-active {
    background: #b7b7b7 !important;
    border-radius: 2px;
    border: .5px solid #838383 !important;
}

.team-dragging {
    /* background: transparent !important; */
    opacity: 0.1;
}

.team-group {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent !important;
}

.team-list-dragging {
    box-sizing: border-box;
    border-top: 2px solid #9cc4c1;
    border-bottom: 2px solid #9cc4c1 !important;
}

.hidden {
    display: none !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.btn-disabled {
    background-color: #b0b0b0 !important;
    cursor: auto !important;
}

.h-36px {
    height: 36px;
}
.cursor-df {
    cursor: default!important;
}

.p-lr-30px {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
  
.p-tb-20px {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.d-flex-center-fl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.mb-21px {
    margin-bottom: 21px;
}

.img-alert {
    margin-right: 5px;
}

.txt-alert {
    margin-top: 3px;
}

.modal-gr-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 4px;
}

.modal-gr-btn .btn {
    height: 36px;
    margin: 0 5px;
    border: none;
    -webkit-box-shadow: 0 0 0 0.04rem #c1c1c1;
            box-shadow: 0 0 0 0.04rem #c1c1c1;
    padding: 6px 10px 5px;
    width: 100px;
    font-size: 12px;
}

.modal-gr-btn .btn-dark:hover {
    background: inherit;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.bg-gradient-black, .btn.btn-black, .btn.btn-dark {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#404040), color-stop(60%, #292727), to(#242525));
    background-image: -o-linear-gradient(#404040, #292727 60%, #242525);
    background-image: linear-gradient(#404040, #292727 60%, #242525);
}

.transition-gr, .btn.btn-black, .btn.btn-dark {
    -webkit-transition: 350ms all;
    -o-transition: 350ms all;
    transition: 350ms all;
}

.btn.btn-black {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #fff !important;
    border-color: #535454;
    border: none;
    -webkit-box-shadow: 0 1.4px 3px 0px rgba(51, 51, 51, 0.44);
            box-shadow: 0 1.4px 3px 0px rgba(51, 51, 51, 0.44);
}

.btn.btn-black:hover {
    color: #fff;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}

.btn.btn-black:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.zindex-1072 {
    z-index: 1072;
}

.zindex-1071 {
    z-index: 1071;
}

.modal-ct {
    justify-content: flex-start !important;
}

a:not([href]) {
    color: inherit;
    text-decoration: none !important; }
a:not([href]):hover {
      color: inherit;
      text-decoration: none !important; }
.modal-gr .card {
    border: 1px solid #c7c7c7;
    padding: 20px 27px 21px 28px !important;
    border-radius: 6px;
    background: -webkit-gradient(linear, left bottom, left top, from(#efefef), to(#fff));
    background: -o-linear-gradient(bottom, #efefef, #fff);
    background: linear-gradient(0deg, #efefef, #fff);
    display: block;
    }

.fs-12px {
    font-size: 12px;
}

.fs-14px {
    font-size: 14px !important;
}

.w-s-preline {
    white-space: pre-line;
}
.reset-border, .reset-border:focus, .reset-border:hover {
    height: 36px !important;
    cursor: default !important;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.team-btn, .team-btn span {
    cursor: default;
}

.pd-modal {
    padding: 20px 27px 21px 28px !important;
}

.team-ip-control {
    color: #cc0033;
    font-weight: bold;
}

.space-between {
    justify-content: space-between !important;
}

.pl-15px {
    padding-left: 15px;
}

tr td:first-child{
    border-left: none !important;
}

.mt-20px {
    margin-top: 20px; 
}

.changepassword-form {
    padding-top: 10px;
    padding-right: 27px;
    padding-left: 27px;
    padding-bottom: 12px;
}

.mt-10px {
    margin-top: 10px;
}

.mb-15px {
    margin-bottom: 15px;
}

.mt-9px {
    margin-top: 9px !important;
}

.mb-9px {
    margin-bottom: 9px !important;
}

.mr-8px {
    margin-right: 8px;
}

.ml-negative-8px {
    margin-left: -8px;
}

.mr-negative-8px {
    margin-right: -8px;
}

.ml-negative-28px {
    margin-left: -28px;
}

.mr-negative-28px {
    margin-right: -28px;
}

.mb-66px {
    margin-bottom: 66px;
}

.min-w100 {
    min-width: 100px;
}

.mt-18px {
    margin-top: 18px;
}

.bc-change-pass {
    border-color: #c6c6c6 !important
}

.mb-22px {
    margin-bottom: 22px !important;
}

.mb-11px {
    margin-bottom: 11px !important;
}

.fs-1-84rem {
    font-size: 1.84rem;
}

.btn-cancel-change-pass {
    background-image: linear-gradient(#c1c1c1, #b2b2b2 0%, #a5a5a5) !important;
    color: #444444;
}

.btn-cancel-change-pass:hover {
    background-image: linear-gradient(#c5c5c5, #c5c5c5 0%, #c5c5c5) !important;
}

.btn-cancel-change-pass:focus {
    outline-color: rgba(89, 116, 110, 1);
    border: 2px solid rgba(89, 116, 110, 1);
}

.mb-10px {
    margin-bottom: 10px !important;
}

.mypage-modal-bg-information {
    background-image: linear-gradient(#636363, #434343);
    box-shadow: 0 0 0.2rem 0.15rem #c1c1c1;
    border-radius: 0.4rem !important; 
}

.information-body {
    background: linear-gradient(0deg, #fdfdfd, #fff) !important
}

.information-textarea {
    width: 420px;
    height: 169px !important;
    background: linear-gradient(0deg, #e0e0e0, #ededed) !important;
    overflow: auto;
}

.information-textarea > p {
    margin: 0px;
}

.information-textarea a {
    color: #86bab8 !important;
}

.information-textarea a:hover {
    color: #86bab8 !important;
    text-decoration: underline !important;
}

.information-textarea a:active {
    color: #86bab8 !important;
}

.pt-21px {
    padding-top: 21px;
}

.alert-title {
    font-weight: 600;
    font-size: 16px;
    color: #bfaf78;
    padding-left: 6px;
    padding-top: 4px;
}
.w-435px-im {
    width: 435px !important;
}

.backdrop-popup-blur {
    background-color: rgba(0, 0, 0, 0.5) !important;
 }
 
.r-border:focus {
    border-color: #ced4da;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(206,212,218,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(206,212,218,0.75);
    box-shadow: 0px 0px 0px 0px rgba(206,212,218,0.75);
}

.mail-validate-error {
    position: static;
}

.backdrop-all-sc{
    height: calc(100% - 36px);
}

.w-260 {
    width: 260px;
}
.w-320 {
    width: 320px;
}
.noselect-color-777777 {
    color: #777777;
}
.noselect-color-777777::selection {
    color: #777777;
    background-color: transparent;
}
.noselect-color-cc0033::selection {
    color: #cc0033;
    background-color: transparent;
}
.noselect-color-7f7f7f::selection {
    color: #7f7f7f;
    background-color: transparent;
}
.noselect-color-a5a5a5::selection {
    color: #a5a5a5;
    background-color: transparent;
}
.noselect-color-aaaaaa::selection {
    color: #aaaaaa;
    background-color: transparent;
}

.noselect-color-444::selection {
    color: #444;
    background-color: transparent;
}

.noselect-color-585857::selection {
    color: #585857;
    background-color: transparent;
}
.noselect-color-9da1a5::selection {
    color: #9da1a5;
    background-color: transparent;
}
.noselect-color-464646::selection {
    color: #464646;
    background-color: transparent;
}

.noselect-color-333::selection {
    color: #333;
    background-color: transparent;
}
.noselect-color-757171::selection {
    color: #757171;
    background-color: transparent;
    text-shadow: 0 1px 0 #fff;
}

.noselect-color-5d5959::selection {
    color: #5d5959;
    background-color: transparent;
}

.noselect-color-818181::selection {
    color: #818181;
    background-color: transparent;
}

.noselect-color-b9a200::selection {
    color: #b9a200;
    background-color: transparent;
}

.noselect-color-bdbdbd::selection {
    color: #bdbdbd;
    background-color: transparent;
}
.noselect-color-a0802d::selection {
    color: #a0802d;
    background-color: transparent;
}
.noselect-color-5d5959::selection {
    color: #5d5959;
    background-color: transparent;
}
.noselect-color-212529::selection {
    color: #212529;
    background-color: transparent;
}
.noselect-color-cccccc::selection {
    color: #cccccc;
    background-color: transparent;
}

.noselect-color-pink-error {
    color: #ec7c6b;
}
.noselect-color-pink-error::selection {
    color: #ec7c6b;
    background-color: transparent;
}

/* màn hình Search fix lại trên web*/
.backdrop-all-sc{
    height: calc(100% - 36px);
}
.modal-search{
    height: calc(100% - 34px);
}
html, body{
    height: 100%;
}
.form-login, .login-w, .login-bl{
    height: 100%;
}
#root,
.mypage {
    height: 100%;
}

.mypage-main {
    min-height: initial;
    height: calc(100% - 60px);
}

.mypage-slider {
    height: 100%;
}


.login {
    height: 100% !important;
}

.padding-color-box {
    padding-left: 2px;
    padding-top: 2px;
    width: 16px;
}

.color-box-h {
    height: 38px;
}

.mt-22px {
    margin-top: 22px; 
}

.padding-bottom-2px {
    padding-bottom: 2px;
}

.text-color-gray {
    color: #666666;
}
.font-din-l {
    font-family: Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.box-shadow-green:focus {
    -webkit-box-shadow: 0 0 0 0.4rem rgba(231,241,240,1) !important;
    box-shadow: 0 0 0 0.4rem rgba(231,241,240,1) !important;
}

.min-width-32px {
    min-width: 32px;
}

.margin-right-18px {
    margin-right: -18px;
}

.margin-left-18px {
    margin-left: -18px;
}

.white-space-pre{
    white-space: pre;
}

@media only screen and (max-width: 1199px) {
    /* màn hình search */
    .modal-full-body .modal-search-content{
        width: 50%;
    }
    /***/
    .mypage-pagition .box-pagition .noselect {
        font-size: 14px;
    }
    .mypage-pagition .box-pagition .mypage-btn-action {
        min-width: 40px;
        max-width: 40px;
    }
    .mypage-btn-action {
        min-width: 45px;
        max-width: 45px;
    }
    .box-pagition {
        width: calc(100% - 45px);
    }
}
/* @media (max-width: 1224px){
    .modal-full .modal-content {
        height: calc( 100% - 60px) !important;
        border: 2px solid red;
    }
} */
@media only screen and (max-width: 992px) {
    /* Mypage */
    /* Màn hình team */
    .mypage-header, .mypage-main, .mypage-footer {
        min-width: 100%;
    }
    .personal-content-l {
        width: 200px;
    }
    .w-form {
        width: 100%;
    }
    /* Màn hình Personal Settings*/
    .list-group-tabs{
        width: 200px;
    }
    .personal-form{
        width: calc(100% - 178px);
        flex: inherit;
    }

    /* Màn hình chính của Mypage khi login thành công */
    .mypage-pagition {
        flex-basis: 230px;
    }
    .mypage-sidebar-left{
        flex: 1 0 180px;
    }
    .w-list-templates {
        flex-basis: calc(100% - 230px);
    }
    .mypage-sidebar-right {
        flex: 0 1 230px;
        width: 230px;
        max-width: 230px;
    }
    .name-member-shareing {
        width: 100px;
    }
    .listmap-title {
        font-size: 15px;
    }
    .listmap-title, .listmap-date, .listmap-time {
        font-size: 14px;
    }
    .listmap-title-record{
        font-size: 15px !important;
    }
    /* Màn hình Tutorial */
    .mypage-slider-content {
        width: 700px;
        height: 471px;
        min-width: 700px;
        max-width: 700px;
    }
    .carousel_slide img{
        max-width: 100%;
    }
    .slider-checkct {
        bottom: 52px;
        left: 100px;
    }
    .slider-close {
        top: 90px;
        right: 25px;
        z-index: 10;
    }
    .btn-slider-close img{
        width: 80%;
    }
    .btn-slider {
        width: 30px;
        height: 30px;
    }
    .btn-slider-next img{
        width: 8px;
    }
    .w-btn-slider {
        bottom: 178px;
    }
    .w-slider-next {
        right: 30px;
    }
    .w-slider-prev {
        left: 210px;
    }
    .btn-slider-prev img{
        width: 8px;
    }
    .btn-slider-next img {
        margin-right: -2px;
    }
    .modal-full-body{
        max-height: 900px !important;
    }
    .w-btn-now {
        z-index: 10;
        bottom: 182px;
        right: 105px;
    }

}

/****/